/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

@-webkit-keyframes rotate {
  /* line 18, ../../components/animation.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 21, ../../components/animation.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  /* line 26, ../../components/animation.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 29, ../../components/animation.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  /* line 34, ../../components/animation.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 37, ../../components/animation.scss */
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  /* line 42, ../../components/animation.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 45, ../../components/animation.scss */
  to {
    transform: rotate(360deg);
  }
}
/* line 51, ../../components/animation.scss */
#scene-container {
  opacity: 1;
  transition: opacity 1s;
}
/* line 55, ../../components/animation.scss */
#scene-container.loading {
  opacity: 0;
}

/* line 65, ../../components/animation.scss */
.panel .node-align-left .node-back {
  left: -2500px;
  transition: left 1s;
}

/* line 70, ../../components/animation.scss */
.panel.active .node-align-left .node-back {
  left: 0;
}

/* line 74, ../../components/animation.scss */
.panel .node-align-right .node-back {
  left: 2500px;
  transition: left 1s;
}

/* line 79, ../../components/animation.scss */
.panel.active .node-align-right .node-back {
  left: 0;
}

/* line 83, ../../components/animation.scss */
.panel.active .node-back {
  left: 0;
}
