/* line 17, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../../components/_base.scss */
a:hover {
  color: #99CCFF;
}

/* line 5, ../../components/menu.scss */
#main-menu {
  height: 60px;
  padding-left: 380px;
  padding-right: 60px;
  position: fixed;
  top: 0;
  font-size: 15px;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 5, ../../components/menu.scss */
  #main-menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
    top: 60px;
  }
}

/* line 24, ../../components/menu.scss */
#main-menu > ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1px;
  position: relative;
  width: 100%;
}
/* line 35, ../../components/menu.scss */
#main-menu > ul > li.first {
  display: none;
}
/* line 43, ../../components/menu.scss */
#main-menu > ul li {
  display: block;
  height: 100%;
  list-style: none;
  float: left;
  font-weight: 700;
  margin: 0;
  padding: 0 1px 2px 0;
  padding: 0 1px 0 0;
  padding: 3px 1px;
  position: relative;
  text-transform: uppercase;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 43, ../../components/menu.scss */
  #main-menu > ul li {
    float: none;
    padding: 1px 0 0;
    width: auto;
  }
}
/* line 69, ../../components/menu.scss */
#main-menu > ul li:hover a:hover {
  background-color: #336699;
}
/* line 80, ../../components/menu.scss */
#main-menu > ul li.on > ul {
  display: block;
  left: 0;
  opacity: 1;
  position: relative;
}
/* line 87, ../../components/menu.scss */
#main-menu > ul li.on li {
  float: none;
}
/* line 91, ../../components/menu.scss */
#main-menu > ul li.on a {
  background: #336699;
}
/* line 94, ../../components/menu.scss */
#main-menu > ul li.on a:hover {
  background: #6699CC;
  background: #80b3e6;
  border-color: #80b3e6;
}
/* line 101, ../../components/menu.scss */
#main-menu > ul li.on .li-expand {
  opacity: 1;
}
/* line 108, ../../components/menu.scss */
#main-menu > ul li a {
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 200ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 115, ../../components/menu.scss */
#main-menu > ul li > a {
  background-color: #4D80B3;
  display: block;
  height: 100%;
  padding: 16px 0 0 1em;
  transition: background-color 200ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 115, ../../components/menu.scss */
  #main-menu > ul li > a {
    padding: 6px 0 0 1em;
  }
}
/* line 136, ../../components/menu.scss */
#main-menu > ul li.expanded .li-expand {
  color: #ddeeff;
  cursor: pointer;
  display: block;
  font-family: "fontello";
  font-size: 28px;
  height: 40px;
  line-height: 20px;
  opacity: 0.3;
  padding: 10px;
  position: absolute;
  text-transform: none;
  top: 10px;
  right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  /* line 136, ../../components/menu.scss */
  #main-menu > ul li.expanded .li-expand {
    height: 20px;
    padding: 0 6px;
  }
}
/* line 158, ../../components/menu.scss */
#main-menu > ul li.expanded .li-expand:hover {
  color: #ddeeff;
  opacity: 1;
}
/* line 166, ../../components/menu.scss */
#main-menu > ul li ul {
  opacity: 0;
  position: absolute;
  left: -20000px;
  transition: opacity 0.2s;
}
/* line 174, ../../components/menu.scss */
#main-menu > ul li li {
  border: 0 none;
  float: none !important;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  width: 100%;
}
/* line 183, ../../components/menu.scss */
#main-menu > ul li li a {
  font-weight: 400;
  padding: 1em;
}

/* line 199, ../../components/menu.scss */
.li-expand .close {
  display: none;
}

/* line 206, ../../components/menu.scss */
li.on > .li-expand .close {
  display: block;
}
/* line 210, ../../components/menu.scss */
li.on > .li-expand .open {
  display: none;
}

@media (max-width: 1280px) {
  /* line 227, ../../components/menu.scss */
  #main-menu.on {
    display: block;
  }
  /* line 233, ../../components/menu.scss */
  #main-menu.on ul {
    height: auto;
  }
  /* line 238, ../../components/menu.scss */
  #main-menu.on li {
    float: none;
  }
}

/* line 249, ../../components/menu.scss */
#main-menu-mobile-toggle {
  top: 15px;
  cursor: pointer;
  display: none;
  font-size: 11px;
  left: 20px;
  position: absolute;
  z-index: 2000;
}
@media (max-width: 1280px) {
  /* line 249, ../../components/menu.scss */
  #main-menu-mobile-toggle {
    display: block;
  }
}
/* line 262, ../../components/menu.scss */
#main-menu-mobile-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 268, ../../components/menu.scss */
#main-menu-mobile-toggle {
  color: #fff;
  padding: 0 3em 0 0;
}
/* line 272, ../../components/menu.scss */
#main-menu-mobile-toggle:hover {
  color: #336699;
}
/* line 276, ../../components/menu.scss */
#main-menu-mobile-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 281, ../../components/menu.scss */
#main-menu-mobile-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: 4px;
  position: relative;
  top: -10px;
}
/* line 289, ../../components/menu.scss */
#main-menu-mobile-toggle span.action-hide {
  display: none;
}
/* line 293, ../../components/menu.scss */
#main-menu-mobile-toggle span.action-show {
  display: inline-block;
}

/* line 300, ../../components/menu.scss */
#main-menu-mobile-toggle.on span.action-hide {
  display: inline-block;
}
/* line 304, ../../components/menu.scss */
#main-menu-mobile-toggle.on span.action-show {
  display: none;
}

/* line 315, ../../components/menu.scss */
#contact-toggle {
  color: #fff;
  direction: rtl;
  top: 15px;
  padding: 0;
  cursor: pointer;
  display: none;
  font-size: 11px;
  right: 20px;
  position: absolute;
  z-index: 2000;
}
@media (max-width: 960px) {
  /* line 315, ../../components/menu.scss */
  #contact-toggle {
    display: block;
  }
}
/* line 331, ../../components/menu.scss */
#contact-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 339, ../../components/menu.scss */
#contact-toggle:hover {
  color: #336699;
}
/* line 343, ../../components/menu.scss */
#contact-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 348, ../../components/menu.scss */
#contact-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: -4px;
  position: relative;
  top: -10px;
}
/* line 356, ../../components/menu.scss */
#contact-toggle span.action-hide {
  display: none;
}
/* line 360, ../../components/menu.scss */
#contact-toggle span.action-show {
  display: inline-block;
}

/* line 367, ../../components/menu.scss */
#contact-toggle.on span.action-hide {
  display: inline-block;
}
/* line 371, ../../components/menu.scss */
#contact-toggle.on span.action-show {
  display: none;
}
