/* line 5, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 5, ../../components/menu.scss */
#main-menu {
  height: 60px;
  padding-left: 380px;
  padding-right: 180px;
  width: 100%;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 5, ../../components/menu.scss */
  #main-menu {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 20, ../../components/menu.scss */
#main-menu > ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 20, ../../components/menu.scss */
  #main-menu > ul {
    display: none;
  }
}
/* line 34, ../../components/menu.scss */
#main-menu > ul > li.first {
  display: none;
}
/* line 38, ../../components/menu.scss */
#main-menu > ul > li.last {
  border-right: 1px solid #88bbdd;
}
/* line 42, ../../components/menu.scss */
#main-menu > ul li {
  border-left: 1px solid #88bbdd;
  display: block;
  height: 100%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0 0 0 0;
  position: relative;
  text-transform: uppercase;
  width: 20%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  /* line 42, ../../components/menu.scss */
  #main-menu > ul li {
    float: none;
    width: auto;
  }
}
/* line 60, ../../components/menu.scss */
#main-menu > ul li:hover {
  background-color: #6699cc;
}
/* line 68, ../../components/menu.scss */
#main-menu > ul li:hover a:hover {
  background-color: #6699CC;
  color: #D8E5F2;
}
/* line 78, ../../components/menu.scss */
#main-menu > ul li.on > ul {
  display: block;
  left: 0;
  opacity: 1;
}
/* line 85, ../../components/menu.scss */
#main-menu > ul li.on li {
  background-color: #ddeeff;
}
/* line 89, ../../components/menu.scss */
#main-menu > ul li.on a {
  background-color: #ddeeff;
  color: #6699cc;
}
/* line 94, ../../components/menu.scss */
#main-menu > ul li.on .li-expand {
  color: #336699;
  opacity: 1;
}
/* line 98, ../../components/menu.scss */
#main-menu > ul li.on .li-expand:hover {
  color: #336699;
}
/* line 105, ../../components/menu.scss */
#main-menu > ul li > a {
  background-color: #6699cc;
  border: 1px solid transparent;
  color: #D8E5f2;
  display: block;
  height: 100%;
  padding: 19px 0 0 1em;
  transition: background-color 0.2s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 105, ../../components/menu.scss */
  #main-menu > ul li > a {
    padding: 10px 0 0 1em;
  }
}
/* line 120, ../../components/menu.scss */
#main-menu > ul li > a:hover {
  color: #336699;
}
/* line 128, ../../components/menu.scss */
#main-menu > ul li.expanded .li-expand {
  color: #ddeeff;
  cursor: pointer;
  display: block;
  font-family: "fontello";
  font-size: 28px;
  height: 40px;
  line-height: 20px;
  opacity: 0.3;
  padding: 10px;
  position: absolute;
  text-transform: none;
  top: 10px;
  right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  /* line 128, ../../components/menu.scss */
  #main-menu > ul li.expanded .li-expand {
    height: 20px;
    padding: 0 6px;
  }
}
/* line 150, ../../components/menu.scss */
#main-menu > ul li.expanded .li-expand:hover {
  color: #ddeeff;
  opacity: 1;
}
/* line 158, ../../components/menu.scss */
#main-menu > ul li ul {
  max-height: 0;
  opacity: 0;
  position: absolute;
  left: -20000px;
  transition: opacity 0.2s;
}
/* line 166, ../../components/menu.scss */
#main-menu > ul li li {
  border: 0 none;
  float: none;
  text-transform: none;
  width: 100%;
}
/* line 173, ../../components/menu.scss */
#main-menu > ul li li a {
  font-weight: 400;
  padding: 1em;
}

/* line 185, ../../components/menu.scss */
.li-expand .close {
  display: none;
}

/* line 192, ../../components/menu.scss */
li.on > .li-expand .close {
  display: block;
}
/* line 196, ../../components/menu.scss */
li.on > .li-expand .open {
  display: none;
}

/* line 205, ../../components/menu.scss */
#main-menu-mobile-toggle {
  cursor: pointer;
  display: none;
  font-size: 10px;
  text-align: center;
}
@media (max-width: 960px) {
  /* line 205, ../../components/menu.scss */
  #main-menu-mobile-toggle {
    display: block;
  }
}
/* line 215, ../../components/menu.scss */
#main-menu-mobile-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

@media (max-width: 960px) {
  /* line 222, ../../components/menu.scss */
  #main-menu.mobile > ul {
    display: block;
  }
}
