/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../../components/node-layout.scss */
.node-full .field-name-field-headline {
  font-size: 50px;
  line-height: 1;
}

/* line 22, ../../components/node-layout.scss */
.field-name-field-drophead {
  font-size: 25px;
  font-weight: 800;
}

/* line 36, ../../components/node-layout.scss */
.node-inner {
  background-color: rgba(255, 255, 255, 0.9);
  color: #282833;
  padding: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 43, ../../components/node-layout.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
/* line 45, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-full:before, .node-full:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-full:after {
  clear: both;
}
/* line 52, ../../components/node-layout.scss */
.node-full > .node-section-breadcrumb {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
/* line 58, ../../components/node-layout.scss */
.node-full > .node-section-field-headline {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
@media (max-width: 1280px) {
  /* line 58, ../../components/node-layout.scss */
  .node-full > .node-section-field-headline {
    float: left;
    width: 66.66667%;
    margin-left: 8.33333%;
    margin-right: -75%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 72, ../../components/node-layout.scss */
.node-full > .node-section-content {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
/* line 80, ../../components/node-layout.scss */
.node-full .field-name-field-drophead p:first-child {
  margin-top: 0;
}
/* line 85, ../../components/node-layout.scss */
.node-full > .node-section-children {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  clear: both;
}
/* line 92, ../../components/node-layout.scss */
.node-full > .node-section-children .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 103, ../../components/node-layout.scss */
.node-full > .node-section-children .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 92, ../../components/node-layout.scss */
  .node-full > .node-section-children .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 117, ../../components/node-layout.scss */
.node-full > .node-section-field-node-links {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  clear: left;
}
/* line 122, ../../components/node-layout.scss */
.node-full > .node-section-field-node-links .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
}
/* line 132, ../../components/node-layout.scss */
.node-full > .node-section-field-node-links .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 122, ../../components/node-layout.scss */
  .node-full > .node-section-field-node-links .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 148, ../../components/node-layout.scss */
.node-full.node-align-left > .node-section-field-headline {
  float: left;
  width: 50%;
  margin-left: 8.33333%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 152, ../../components/node-layout.scss */
.node-full.node-align-left > .node-section-content {
  float: left;
  width: 50%;
  margin-left: 8.33333%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 156, ../../components/node-layout.scss */
.node-full.node-align-left > .node-section-children {
  float: left;
  width: 50%;
  margin-left: 8.33333%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}
/* line 161, ../../components/node-layout.scss */
.node-full.node-align-left > .node-section-field-node-links {
  float: left;
  width: 50%;
  margin-left: 8.33333%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}
/* line 170, ../../components/node-layout.scss */
.node-full.node-align-right > .node-section-field-headline {
  float: left;
  width: 50%;
  margin-left: 41.66667%;
  margin-right: -91.66667%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 174, ../../components/node-layout.scss */
.node-full.node-align-right > .node-section-content {
  float: left;
  width: 50%;
  margin-left: 41.66667%;
  margin-right: -91.66667%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 178, ../../components/node-layout.scss */
.node-full.node-align-right > .node-section-children {
  float: left;
  width: 50%;
  margin-left: 41.66667%;
  margin-right: -91.66667%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}
/* line 183, ../../components/node-layout.scss */
.node-full.node-align-right > .node-section-field-node-links {
  float: left;
  width: 50%;
  margin-left: 41.66667%;
  margin-right: -91.66667%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}

/* line 196, ../../components/node-layout.scss */
.node-teaser {
  margin: 1em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 200, ../../components/node-layout.scss */
.node-teaser h3 {
  font-size: 1.75em;
}
/* line 204, ../../components/node-layout.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 208, ../../components/node-layout.scss */
.node-teaser img {
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 214, ../../components/node-layout.scss */
.node-teaser .node-inner {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 223, ../../components/node-layout.scss */
.node-scrape {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 227, ../../components/node-layout.scss */
.node-scrape p {
  margin: 0 0 1.5em;
}
/* line 231, ../../components/node-layout.scss */
.node-scrape img {
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 240, ../../components/node-layout.scss */
.node-scrape .node-inner {
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 252, ../../components/node-layout.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 257, ../../components/node-layout.scss */
.node-scrape {
  color: #FFF;
}
/* line 260, ../../components/node-layout.scss */
.node-scrape .icon {
  font-size: 30px;
}

/* line 271, ../../components/node-layout.scss */
.node-teaser.node-type-article {
  border-bottom: 1px solid #fff;
  clear: both;
  float: none;
}

/* line 283, ../../components/node-layout.scss */
.menu-custom-siblings-menu {
  clear: left;
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 287, ../../components/node-layout.scss */
.menu-custom-siblings-menu a {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #fff;
  margin: 0 2px 2px;
  position: relative;
}
/* line 296, ../../components/node-layout.scss */
.menu-custom-siblings-menu a:hover {
  background: none #6699CC;
  border-color: #FFF;
}
/* line 301, ../../components/node-layout.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 305, ../../components/node-layout.scss */
.menu-custom-siblings-menu a:hover span {
  background: none rgba(255, 255, 255, 0.9);
  display: block;
  left: -1px;
  position: absolute;
  top: 22px;
  padding: 0.5em;
  width: 33%;
}
/* line 317, ../../components/node-layout.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 324, ../../components/node-layout.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 331, ../../components/node-layout.scss */
.menu-custom-siblings-menu .active, .menu-custom-siblings-menu .active:hover {
  background: none #FFF;
  border-color: #FFF;
}
/* line 336, ../../components/node-layout.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 345, ../../components/node-layout.scss */
.prev-link {
  font-size: 100px;
  left: 10px;
  position: absolute;
  top: 240px;
}

/* line 352, ../../components/node-layout.scss */
.next-link {
  font-size: 100px;
  position: absolute;
  right: 10px;
  top: 240px;
}

/* line 359, ../../components/node-layout.scss */
.field-name-field-headline {
  color: #fff;
  text-shadow: 1px 1px #222, -1px -1px #222;
}

/* line 364, ../../components/node-layout.scss */
.dark-on-light .field-name-field-headline {
  color: #222;
  text-shadow: 1px -1px #fff, -1px 1px #fff;
}
