/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../../components/_base.scss */
a:hover {
  color: #99CCFF;
}

/* line 11, ../../components/node.scss */
.field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../../components/node.scss */
.node-breadcrumb {
  position: fixed;
  top: 60px;
  width: 100%;
}

/* line 29, ../../components/node.scss */
.node-sibling-menu {
  position: fixed;
  bottom: 0;
  height: 30px;
  text-align: center;
  width: 100%;
  z-index: 1002;
}

/* line 39, ../../components/node.scss */
.node-section-menu-children {
  padding: 0;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 39, ../../components/node.scss */
  .node-section-menu-children {
    width: 100%;
  }
}
/* line 50, ../../components/node.scss */
.node-section-menu-children .row {
  float: left;
  margin: 30px 0;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../../components/node.scss */
.node-section-menu-children .row.even {
  padding: 0 10px;
}
/* line 60, ../../components/node.scss */
.node-section-menu-children .row.odd {
  padding: 0 10px;
}

/* line 72, ../../components/node.scss */
.node-inner-one {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 86, ../../components/node.scss */
.node-title {
  position: relative;
}

/* line 90, ../../components/node.scss */
.field-item ul {
  margin-bottom: 15px;
}

/* line 94, ../../components/node.scss */
.field-name-field-headline {
  background: rgba(0, 17, 34, 0.9);
  font-weight: 700;
  margin: 0 auto;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
@media (max-width: 1400px) {
  /* line 94, ../../components/node.scss */
  .field-name-field-headline {
    width: 100%;
  }
}
/* line 105, ../../components/node.scss */
.field-name-field-headline .field-item {
  display: block;
  background: rgba(0, 17, 34, 0.9);
  margin: 0;
  padding: 15px 30px 5px;
}

/* line 113, ../../components/node.scss */
.field-name-field-drophead {
  background: rgba(0, 17, 34, 0.9);
  font-size: 25px;
  padding: 15px 30px 0;
  position: relative;
}
/* line 119, ../../components/node.scss */
.field-name-field-drophead p:first-child {
  margin-top: 0;
}

/* line 124, ../../components/node.scss */
.field-name-body {
  background: rgba(0, 17, 34, 0.9);
  padding: 0 30px;
  position: relative;
}

/* line 130, ../../components/node.scss */
.field-name-field-display-img {
  position: relative;
}
/* line 133, ../../components/node.scss */
.field-name-field-display-img img {
  display: block;
}

/* line 138, ../../components/node.scss */
.field-name-field-image {
  position: relative;
}
/* line 141, ../../components/node.scss */
.field-name-field-image img {
  display: block;
}

/* line 146, ../../components/node.scss */
.field-name-field-node-links {
  position: relative;
}
/* line 149, ../../components/node.scss */
.field-name-field-node-links img {
  display: block;
}
/* line 153, ../../components/node.scss */
.field-name-field-node-links .field-item {
  background: rgba(0, 17, 34, 0.9);
  margin: 10px 0;
  position: relative;
}
/* line 159, ../../components/node.scss */
.field-name-field-node-links a {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding: 15px 15px 15px 80px;
}
/* line 165, ../../components/node.scss */
.field-name-field-node-links a:before {
  background: none repeat scroll 0 0 #336699;
  color: #fff;
  content: "r";
  display: block;
  font-family: "fontello";
  font-size: 60px;
  left: 0;
  padding: 2px 20px 2px 25px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 186, ../../components/node.scss */
.content-static.active .menu-custom-siblings-menu,
.content-dynamic.active .menu-custom-siblings-menu {
  position: fixed;
  bottom: 0;
  z-index: 1001;
}

/* line 219, ../../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 227, ../../components/node.scss */
.node-full .node-inner-two {
  float: none;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 235, ../../components/node.scss */
.node-full .node-inner-two form {
  position: relative;
}
/* line 240, ../../components/node.scss */
.node-full .node-section-content {
  background: rgba(0, 17, 34, 0.9);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 240, ../../components/node.scss */
  .node-full .node-section-content {
    width: 100%;
  }
}
/* line 252, ../../components/node.scss */
.node-full .node-section-field-image {
  position: relative;
  width: 45%;
  position: relative;
  float: right;
}
/* line 264, ../../components/node.scss */
.node-full .node-section-views .views-row {
  float: left;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 1280px) {
  /* line 264, ../../components/node.scss */
  .node-full .node-section-views .views-row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 281, ../../components/node.scss */
.node-full .node-section-field-node-links {
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 281, ../../components/node.scss */
  .node-full .node-section-field-node-links {
    width: 100%;
  }
}

/* line 303, ../../components/node.scss */
.panel-content {
  height: 100%;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 319, ../../components/node.scss */
.panel-content.node-align-left .node-full,
.panel-content.node-align-left .node-section-menu-children {
  margin-right: 50%;
  width: 50%;
}
@media (max-width: 1400px) {
  /* line 319, ../../components/node.scss */
  .panel-content.node-align-left .node-full,
  .panel-content.node-align-left .node-section-menu-children {
    margin: 0 auto;
    width: 100%;
  }
}
/* line 341, ../../components/node.scss */
.panel-content.node-align-right .node-full,
.panel-content.node-align-right .node-section-menu-children {
  margin-left: 50%;
  width: 50%;
}
@media (max-width: 1400px) {
  /* line 341, ../../components/node.scss */
  .panel-content.node-align-right .node-full,
  .panel-content.node-align-right .node-section-menu-children {
    margin: 0 auto;
    width: 100%;
  }
}

/* line 358, ../../components/node.scss */
.pubDate {
  font-size: 14px;
  padding: 0 10px 10px;
}

/* line 363, ../../components/node.scss */
.node-teaser {
  background: #e2e2e2;
  background: rgba(255, 255, 255, 0.8);
  color: #282833;
  position: relative;
  margin: 1em 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 372, ../../components/node.scss */
.node-teaser .node-teaser-img {
  float: left;
  width: 20%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 381, ../../components/node.scss */
.node-teaser .node-content {
  clear: initial;
  width: 80%;
  float: right;
  margin: 0;
  position: relative;
}
/* line 389, ../../components/node.scss */
.node-teaser .node-field-title {
  padding: 20px 10px 0;
}
/* line 392, ../../components/node.scss */
.node-teaser .node-field-title:before {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
/* line 404, ../../components/node.scss */
.node-teaser .field-name-teaser-img {
  position: relative;
  width: 100%;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 411, ../../components/node.scss */
.node-teaser .field-name-body {
  padding: 0 10px;
  position: relative;
}
/* line 425, ../../components/node.scss */
.node-teaser .node-title {
  font-size: 1.5em;
}
/* line 429, ../../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 433, ../../components/node.scss */
.node-teaser img {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 447, ../../components/node.scss */
.node-scrape {
  background: #101010;
  background: rgba(0, 17, 34, 0.9);
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 454, ../../components/node.scss */
.node-scrape .node-teaser-img {
  padding: 15px 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 459, ../../components/node.scss */
.node-scrape .node-section-content {
  margin-left: 0;
}
/* line 463, ../../components/node.scss */
.node-scrape .node-field-title {
  position: relative;
  padding: 0 15px 15px;
}
/* line 468, ../../components/node.scss */
.node-scrape .node-title {
  padding-top: 15px;
  text-align: center;
}
/* line 473, ../../components/node.scss */
.node-scrape .node-title a:before {
  content: "d";
  display: block;
  font-family: "fontello";
  left: 0;
  background: #336699;
  color: #fff;
  margin-bottom: 8px;
  top: 0;
  width: 100%;
  height: 1em;
}
/* line 490, ../../components/node.scss */
.node-scrape .field-name-body {
  padding: 0 15px 1px;
}
/* line 494, ../../components/node.scss */
.node-scrape .node-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 500, ../../components/node.scss */
.node-scrape .field-name-field-headline {
  width: 100%;
  margin: 0;
}
/* line 505, ../../components/node.scss */
.node-scrape .field-name-teaser-img {
  box-sizing: border-box;
  position: relative;
}
/* line 509, ../../components/node.scss */
.node-scrape .field-name-teaser-img img {
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 522, ../../components/node.scss */
  .node-scrape .field-name-field-headline {
    text-align: center;
  }
}

/* line 538, ../../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 545, ../../components/node.scss */
.node-scrape .icon {
  font-size: 40px;
  margin-top: -20px;
}

/* line 557, ../../components/node.scss */
.node-teaser.node-article {
  clear: both;
  float: none;
}

/* line 571, ../../components/node.scss */
.node-full.has-field-scene {
  padding-top: 0;
}

/* line 593, ../../components/node.scss */
.menu-custom-siblings-menu {
  position: relative;
}
/* line 597, ../../components/node.scss */
.menu-custom-siblings-menu a {
  background: none #6699CC;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #6699cc;
  margin: 0 5px 0 0;
}
/* line 607, ../../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #336699;
  border-color: #336699;
}
/* line 612, ../../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 616, ../../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  display: block;
  left: 0;
  position: absolute;
  top: 1.5em;
  white-space: nowrap;
  width: 100%;
}
/* line 625, ../../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 632, ../../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 640, ../../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: #DDDDDD;
  border-color: #DDDDDD;
}
/* line 645, ../../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 656, ../../components/node.scss */
.prev-link {
  color: #f1f3f6;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 665, ../../components/node.scss */
.next-link {
  color: #f1f3f6;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

/* line 686, ../../components/node.scss */
.node.node-light-on-dark {
  color: #f1f3f6;
}
/* line 689, ../../components/node.scss */
.node.node-light-on-dark .node-back {
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0.85);
}

/* line 701, ../../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 714, ../../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 723, ../../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}
