/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

/* line 17, ../../components/node.scss */
.node-full .field-name-field-headline {
  font-size: 44px;
  line-height: 1;
  padding: 130px 30px 30px;
}
@media (max-width: 1280px) {
  /* line 17, ../../components/node.scss */
  .node-full .field-name-field-headline {
    font-size: 36px;
  }
}

/* line 27, ../../components/node.scss */
.field-name-field-drophead {
  font-size: 25px;
}

/* line 40, ../../components/node.scss */
.node-inner {
  padding: 1.5em;
}

/* line 47, ../../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../../components/node.scss */
.node-full .node-breadcrumb {
  position: absolute;
  top: 60px;
}
/* line 60, ../../components/node.scss */
.node-full .node-back {
  background: rgba(0, 0, 0, 0.75);
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 54.16667%;
  margin-left: 20.83333%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
}
@media (max-width: 1280px) {
  /* line 60, ../../components/node.scss */
  .node-full .node-back {
    float: left;
    width: 33.33333%;
    margin-left: 4.16667%;
    margin-right: -37.5%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 74, ../../components/node.scss */
.node-full .node-content {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 54.16667%;
  margin-left: 20.83333%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: absolute;
}
@media (max-width: 1280px) {
  /* line 74, ../../components/node.scss */
  .node-full .node-content {
    float: left;
    width: 33.33333%;
    margin-left: 4.16667%;
    margin-right: -37.5%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 84, ../../components/node.scss */
.node-full .node-content .field-name-field-drophead p:first-child {
  margin-top: 0;
}
/* line 88, ../../components/node.scss */
.node-full .node-content > .node-section-content {
  background: rgba(0, 0, 0, 0.6);
}
/* line 92, ../../components/node.scss */
.node-full .node-content > .node-section-children {
  padding-left: 0;
  padding-right: 0;
  clear: both;
  padding: 0 10px;
}
/* line 98, ../../components/node.scss */
.node-full .node-content > .node-section-children .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 105, ../../components/node.scss */
.node-full .node-content > .node-section-children .row.even {
  padding: 0 10px;
}
/* line 109, ../../components/node.scss */
.node-full .node-content > .node-section-children .row.odd {
  padding: 0 10px;
}
@media (max-width: 1280px) {
  /* line 98, ../../components/node.scss */
  .node-full .node-content > .node-section-children .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 122, ../../components/node.scss */
.node-full .node-content > .node-section-views {
  background: rgba(0, 0, 0, 0.6);
  clear: both;
}
/* line 126, ../../components/node.scss */
.node-full .node-content > .node-section-views .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../../components/node.scss */
.node-full .node-content > .node-section-views .row.even {
  padding: 0 10px;
}
/* line 137, ../../components/node.scss */
.node-full .node-content > .node-section-views .row.odd {
  padding: 0 10px;
}
@media (max-width: 1280px) {
  /* line 126, ../../components/node.scss */
  .node-full .node-content > .node-section-views .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 151, ../../components/node.scss */
.node-full > .node-section-field-node-links {
  float: left;
  width: 25%;
  margin-left: 12.5%;
  margin-right: -37.5%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  clear: left;
}
/* line 156, ../../components/node.scss */
.node-full > .node-section-field-node-links .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
}
/* line 162, ../../components/node.scss */
.node-full > .node-section-field-node-links .row.even {
  margin: 20px 0;
}
/* line 166, ../../components/node.scss */
.node-full > .node-section-field-node-links .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 156, ../../components/node.scss */
  .node-full > .node-section-field-node-links .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 180, ../../components/node.scss */
.node-full.node-align-left .node-content {
  float: left;
  width: 54.16667%;
  margin-left: 4.16667%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 184, ../../components/node.scss */
.node-full.node-align-left .node-back {
  float: left;
  width: 54.16667%;
  margin-left: 4.16667%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 188, ../../components/node.scss */
.node-full.node-align-right .node-content {
  float: left;
  width: 54.16667%;
  margin-left: 41.66667%;
  margin-right: -95.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 192, ../../components/node.scss */
.node-full.node-align-right .node-back {
  float: left;
  width: 54.16667%;
  margin-left: 41.66667%;
  margin-right: -95.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 203, ../../components/node.scss */
.node-teaser {
  margin: 1em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 207, ../../components/node.scss */
.node-teaser h3 {
  font-size: 1.5em;
}
/* line 211, ../../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 215, ../../components/node.scss */
.node-teaser img {
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 221, ../../components/node.scss */
.node-teaser .node-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 230, ../../components/node.scss */
.node-scrape {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 234, ../../components/node.scss */
.node-scrape p {
  margin: 0 0 1.5em;
}
/* line 238, ../../components/node.scss */
.node-scrape img {
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 247, ../../components/node.scss */
.node-scrape .node-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 259, ../../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 266, ../../components/node.scss */
.node-scrape .icon {
  color: #696969;
  font-size: 40px;
  margin-top: -20px;
}

/* line 279, ../../components/node.scss */
.node-teaser.node-type-article {
  border-bottom: 1px solid #fff;
  clear: both;
  float: none;
}

/* line 291, ../../components/node.scss */
.menu-custom-siblings-menu {
  clear: left;
  float: left;
  width: 41.66667%;
  margin-left: 4.16667%;
  margin-right: -45.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 295, ../../components/node.scss */
.menu-custom-siblings-menu a {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #fff;
  margin: 0 2px 2px;
  position: relative;
}
/* line 304, ../../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #6699CC;
  border-color: #FFF;
}
/* line 309, ../../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 313, ../../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  background: none rgba(255, 255, 255, 0.9);
  display: block;
  left: -1px;
  position: absolute;
  top: 22px;
  padding: 0.5em;
  width: 33%;
}
/* line 325, ../../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 332, ../../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 339, ../../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: none #FFF;
  border-color: #FFF;
}
/* line 345, ../../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 356, ../../components/node.scss */
.prev-link {
  color: white;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 365, ../../components/node.scss */
.next-link {
  color: white;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

/* line 381, ../../components/node.scss */
.node-section-field-headline {
  color: white;
}
@media (max-width: 1280px) {
  /* line 381, ../../components/node.scss */
  .node-section-field-headline {
    font-size: 30px;
  }
}

/* line 396, ../../components/node.scss */
.dark-on-light .field-name-field-headline {
  color: #282833;
}

/* line 412, ../../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 426, ../../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 435, ../../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}
