/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 16, ../../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 26, ../../components/_base.scss */
a:hover {
  color: #6699CC;
}

/* line 12, ../../components/node.scss */
.node-back {
  background: #101010;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

/* line 23, ../../components/node.scss */
.node-sibling-menu {
  position: fixed;
  bottom: 33px;
  text-align: center;
  width: 100%;
  z-index: 1002;
}

/* line 37, ../../components/node.scss */
.node-inner-one {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1400px) {
  /* line 37, ../../components/node.scss */
  .node-inner-one {
    width: 50%;
  }
}
/* line 52, ../../components/node.scss */
.node-inner-one .field-name-field-headline {
  bottom: 0;
  font-weight: 700;
  padding-right: 30%;
  position: absolute;
  left: 25%;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  width: 50%;
}
/* line 67, ../../components/node.scss */
.node-inner-one .field-name-field-headline .field-item {
  display: block;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 15px 30px 5px;
}

/* line 81, ../../components/node.scss */
.node-title {
  position: relative;
}

/* line 85, ../../components/node.scss */
.field-item ul {
  margin-bottom: 15px;
}

/* line 89, ../../components/node.scss */
.field-name-field-drophead {
  font-size: 25px;
  padding: 15px 30px 0;
  position: relative;
}

/* line 95, ../../components/node.scss */
.field-name-body {
  padding: 0 30px;
  position: relative;
}

/* line 100, ../../components/node.scss */
.field-name-field-display-img {
  position: relative;
}
/* line 103, ../../components/node.scss */
.field-name-field-display-img img {
  display: block;
}

/* line 108, ../../components/node.scss */
.field-name-field-image {
  position: relative;
}
/* line 111, ../../components/node.scss */
.field-name-field-image img {
  display: block;
}

/* line 116, ../../components/node.scss */
.field-name-field-node-links {
  position: relative;
}
/* line 119, ../../components/node.scss */
.field-name-field-node-links img {
  display: block;
}
/* line 123, ../../components/node.scss */
.field-name-field-node-links .field-item {
  background: rgba(0, 0, 0, 0.9);
  margin: 10px 0;
  position: relative;
}
/* line 129, ../../components/node.scss */
.field-name-field-node-links a {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding: 15px 15px 15px 80px;
}
/* line 135, ../../components/node.scss */
.field-name-field-node-links a:before {
  background: none repeat scroll 0 0 #336699;
  color: #fff;
  content: "r";
  display: block;
  font-family: "fontello";
  font-size: 60px;
  left: 0;
  padding: 2px 20px 2px 25px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 152, ../../components/node.scss */
.node-section-field-headline {
  overflow: hidden;
  position: relative;
}

/* line 162, ../../components/node.scss */
.node-section-field-display-img {
  position: relative;
}

/* line 175, ../../components/node.scss */
.node-inner-one {
  width: 100%;
}

/* line 183, ../../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 193, ../../components/node.scss */
.node-full .node-breadcrumb {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: fixed;
  top: 60px;
}
@media (min-width: 960px) and (max-width: 1280px) {
  /* line 193, ../../components/node.scss */
  .node-full .node-breadcrumb {
    top: 100px;
  }
}
/* line 206, ../../components/node.scss */
.node-full .node-field-display-img {
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 211, ../../components/node.scss */
.node-full .node-section-field-headline {
  overflow: hidden;
  position: relative;
}
/* line 215, ../../components/node.scss */
.node-full .node-section-field-headline .field-name-field-headline {
  font-size: 44px;
  line-height: 1;
  padding: 30px 30px 15px;
  position: relative;
}
@media (max-width: 1280px) {
  /* line 215, ../../components/node.scss */
  .node-full .node-section-field-headline .field-name-field-headline {
    font-size: 36px;
  }
}
/* line 227, ../../components/node.scss */
.node-full > .node-section-field-display-img {
  position: relative;
}
/* line 231, ../../components/node.scss */
.node-full > .node-section-content {
  position: relative;
  overflow: hidden;
}
/* line 238, ../../components/node.scss */
.node-full .node-content {
  float: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1400px) {
  /* line 238, ../../components/node.scss */
  .node-full .node-content {
    width: 50%;
  }
}
/* line 253, ../../components/node.scss */
.node-full .node-content form {
  position: relative;
}
/* line 257, ../../components/node.scss */
.node-full .node-content .field-name-field-drophead p:first-child {
  margin-top: 0;
}
/* line 261, ../../components/node.scss */
.node-full .node-content > .node-back {
  margin-left: 55%;
  width: 45%;
}
/* line 267, ../../components/node.scss */
.node-full .node-content .node-section-content {
  background: rgba(0, 0, 0, 0.9);
  position: relative;
}
/* line 272, ../../components/node.scss */
.node-full .node-content .node-section-field-image {
  position: relative;
  width: 45%;
  position: relative;
  float: right;
}
/* line 280, ../../components/node.scss */
.node-full .node-content .node-section-children {
  background: rgba(17, 34, 51, 0.75);
  padding-left: 0;
  padding-right: 0;
  clear: both;
  padding: 0;
  position: relative;
  left: 5px;
}
/* line 288, ../../components/node.scss */
.node-full .node-content .node-section-children .row {
  float: left;
  margin: 30px 0;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 294, ../../components/node.scss */
.node-full .node-content .node-section-children .row.even {
  padding: 0 10px;
}
/* line 298, ../../components/node.scss */
.node-full .node-content .node-section-children .row.odd {
  padding: 0 10px;
}
/* line 311, ../../components/node.scss */
.node-full .node-content > .node-section-views {
  clear: both;
}
/* line 315, ../../components/node.scss */
.node-full .node-content > .node-section-views .views-row {
  float: left;
  margin-top: 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 1280px) {
  /* line 315, ../../components/node.scss */
  .node-full .node-content > .node-section-views .views-row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 335, ../../components/node.scss */
.node-full .node-section-field-node-links .row {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 33%;
}
/* line 341, ../../components/node.scss */
.node-full .node-section-field-node-links .row.even {
  margin: 20px 0;
}
/* line 345, ../../components/node.scss */
.node-full .node-section-field-node-links .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 335, ../../components/node.scss */
  .node-full .node-section-field-node-links .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 366, ../../components/node.scss */
.node-full.node-align-left > .node-content {
  clear: left;
  float: left;
}
/* line 371, ../../components/node.scss */
.node-full.node-align-left .field-name-field-headline {
  left: 0;
}
/* line 386, ../../components/node.scss */
.node-full.node-align-right > .node-content {
  clear: right;
  float: right;
}
/* line 391, ../../components/node.scss */
.node-full.node-align-right .field-name-field-headline {
  left: 50%;
}

/* line 403, ../../components/node.scss */
.pubDate {
  font-size: 14px;
  padding: 0 10px 10px;
}

/* line 408, ../../components/node.scss */
.node-teaser {
  background: #e2e2e2;
  background: rgba(255, 255, 255, 0.8);
  color: #282833;
  position: relative;
  margin: 1em 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 421, ../../components/node.scss */
.node-teaser .node-teaser-img {
  float: left;
  width: 20%;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 431, ../../components/node.scss */
.node-teaser .node-content {
  clear: initial;
  width: 80%;
  float: right;
  margin: 0;
  position: relative;
}
/* line 439, ../../components/node.scss */
.node-teaser .node-field-title {
  padding: 20px 10px 0;
}
/* line 442, ../../components/node.scss */
.node-teaser .node-field-title:before {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
/* line 454, ../../components/node.scss */
.node-teaser .field-name-teaser-img {
  position: relative;
  width: 100%;
  border: 3px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 461, ../../components/node.scss */
.node-teaser .field-name-body {
  padding: 0 10px;
  position: relative;
}
/* line 475, ../../components/node.scss */
.node-teaser .node-title {
  font-size: 1.5em;
}
/* line 479, ../../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 485, ../../components/node.scss */
.node-teaser img {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 499, ../../components/node.scss */
.node-scrape {
  background: #101010;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 506, ../../components/node.scss */
.node-scrape .node-teaser-img {
  padding: 15px 15px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 511, ../../components/node.scss */
.node-scrape .node-field-title {
  position: relative;
  padding: 0 15px 15px;
}
/* line 516, ../../components/node.scss */
.node-scrape .node-title {
  padding-top: 15px;
  text-align: center;
}
/* line 521, ../../components/node.scss */
.node-scrape .node-title a:before {
  content: "d";
  display: block;
  font-family: "fontello";
  left: 0;
  background: #336699;
  color: #fff;
  margin-bottom: 8px;
  top: 0;
  width: 100%;
  height: 1em;
}
/* line 538, ../../components/node.scss */
.node-scrape .field-name-body {
  padding: 0 15px 1px;
}
/* line 542, ../../components/node.scss */
.node-scrape .node-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 548, ../../components/node.scss */
.node-scrape .field-name-teaser-img {
  box-sizing: border-box;
  position: relative;
}
/* line 553, ../../components/node.scss */
.node-scrape .field-name-teaser-img img {
  width: 300px;
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 569, ../../components/node.scss */
  .node-scrape .field-name-field-headline {
    text-align: center;
  }
}

/* line 585, ../../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 592, ../../components/node.scss */
.node-scrape .icon {
  font-size: 40px;
  margin-top: -20px;
}

/* line 604, ../../components/node.scss */
.node-teaser.node-article {
  clear: both;
  float: none;
}

/* line 620, ../../components/node.scss */
.node-full.has-field-scene > .node-headline {
  height: 50%;
  top: 0;
}
/* line 625, ../../components/node.scss */
.node-full.has-field-scene > .node-headline .field {
  bottom: 0;
  position: absolute;
}
/* line 636, ../../components/node.scss */
.node-full.has-field-scene > .node-content .field-name-field-headline {
  position: absolute;
  bottom: 0;
}

/* line 668, ../../components/node.scss */
.menu-custom-siblings-menu {
  background: #101010;
  position: relative;
}
/* line 674, ../../components/node.scss */
.menu-custom-siblings-menu a {
  background: none #6699CC;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #6699cc;
  margin: 0 5px 0 0;
}
/* line 684, ../../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #336699;
  border-color: #336699;
}
/* line 689, ../../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 693, ../../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  display: block;
  left: 0;
  position: absolute;
  top: 1.5em;
  white-space: nowrap;
  width: 100%;
}
/* line 702, ../../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 709, ../../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 716, ../../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: #DDDDDD;
  border-color: #DDDDDD;
}
/* line 722, ../../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 733, ../../components/node.scss */
.prev-link {
  color: white;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 742, ../../components/node.scss */
.next-link {
  color: white;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

/* line 763, ../../components/node.scss */
.node.node-light-on-dark {
  color: white;
}
/* line 766, ../../components/node.scss */
.node.node-light-on-dark .node-back {
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0.85);
}

/* line 777, ../../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 791, ../../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 800, ../../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}

/* line 808, ../../components/node.scss */
.node-article.node-full .node-back {
  display: none;
}
