
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-drupal:before { content: '\44'; } /* 'D' */
.icon-spin5:before { content: '\4c'; } /* 'L' */
.icon-down-dir:before { content: '\64'; } /* 'd' */
.icon-kclstudios-logo:before { content: '\6b'; } /* 'k' */
.icon-left-dir:before { content: '\6c'; } /* 'l' */
.icon-menu:before { content: '\6d'; } /* 'm' */
.icon-comment:before { content: '\71'; } /* 'q' */
.icon-right-dir:before { content: '\72'; } /* 'r' */
.icon-up-dir:before { content: '\75'; } /* 'u' */