/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

/* line 5, ../components/menu.scss */
#main-menu {
  height: 60px;
  padding-left: 380px;
  padding-right: 180px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 5, ../components/menu.scss */
  #main-menu {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    top: 60px;
  }
}
@media (max-width: 960px) {
  /* line 5, ../components/menu.scss */
  #main-menu {
    position: absolute;
    top: 60px;
  }
}

/* line 28, ../components/menu.scss */
#main-menu > ul {
  background-color: #6699cc;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 28, ../components/menu.scss */
  #main-menu > ul {
    display: none;
  }
}
/* line 43, ../components/menu.scss */
#main-menu > ul > li.first {
  display: none;
}
/* line 51, ../components/menu.scss */
#main-menu > ul li {
  display: block;
  height: 100%;
  list-style: none;
  float: left;
  margin: 0;
  padding: 2px 1px 2px 0;
  position: relative;
  text-transform: uppercase;
  width: 20%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  /* line 51, ../components/menu.scss */
  #main-menu > ul li {
    float: none;
    padding: 0;
    width: auto;
  }
}
/* line 74, ../components/menu.scss */
#main-menu > ul li:hover a:hover {
  background-color: #336699;
  border: 2px solid #6699CC;
  color: #D8E5F2;
}
/* line 85, ../components/menu.scss */
#main-menu > ul li.on > ul {
  display: block;
  left: 0;
  opacity: 1;
  position: relative;
}
/* line 92, ../components/menu.scss */
#main-menu > ul li.on li {
  float: none;
}
/* line 96, ../components/menu.scss */
#main-menu > ul li.on a {
  background: #6699cc;
  color: #336699;
}
/* line 101, ../components/menu.scss */
#main-menu > ul li.on .li-expand {
  color: #336699;
  opacity: 1;
}
/* line 105, ../components/menu.scss */
#main-menu > ul li.on .li-expand:hover {
  color: #336699;
}
/* line 111, ../components/menu.scss */
#main-menu > ul li a {
  border: 2px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 116, ../components/menu.scss */
#main-menu > ul li > a {
  background-color: #7ca7d3;
  color: #336699;
  display: block;
  height: 100%;
  padding: 18px 0 0 1em;
  transition: background-color 0.2s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 116, ../components/menu.scss */
  #main-menu > ul li > a {
    padding: 7px 0 0 1em;
  }
}
/* line 129, ../components/menu.scss */
#main-menu > ul li > a:hover {
  color: #336699;
}
/* line 137, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand {
  color: #ddeeff;
  cursor: pointer;
  display: block;
  font-family: "fontello";
  font-size: 28px;
  height: 40px;
  line-height: 20px;
  opacity: 0.3;
  padding: 10px;
  position: absolute;
  text-transform: none;
  top: 10px;
  right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  /* line 137, ../components/menu.scss */
  #main-menu > ul li.expanded .li-expand {
    height: 20px;
    padding: 0 6px;
  }
}
/* line 159, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand:hover {
  color: #ddeeff;
  opacity: 1;
}
/* line 167, ../components/menu.scss */
#main-menu > ul li ul {
  opacity: 0;
  position: absolute;
  left: -20000px;
  transition: opacity 0.2s;
}
/* line 175, ../components/menu.scss */
#main-menu > ul li li {
  border: 0 none;
  float: none !important;
  text-transform: none;
  padding: 0;
  width: 100%;
}
/* line 183, ../components/menu.scss */
#main-menu > ul li li a {
  font-weight: 400;
  padding: 1em;
}
/* line 187, ../components/menu.scss */
#main-menu > ul li li a:hover {
  background-color: #4488CC;
}

/* line 199, ../components/menu.scss */
.li-expand .close {
  display: none;
}

/* line 206, ../components/menu.scss */
li.on > .li-expand .close {
  display: block;
}
/* line 210, ../components/menu.scss */
li.on > .li-expand .open {
  display: none;
}

@media (max-width: 960px) {
  /* line 227, ../components/menu.scss */
  #main-menu.on {
    top: 60px;
  }
  /* line 232, ../components/menu.scss */
  #main-menu.on ul {
    display: block;
    height: auto;
  }
  /* line 237, ../components/menu.scss */
  #main-menu.on li {
    float: none;
  }
}

/* line 248, ../components/menu.scss */
#main-menu-mobile-toggle {
  top: 15px;
  cursor: pointer;
  display: none;
  font-size: 11px;
  left: 20px;
  position: absolute;
  width: 200px;
  z-index: 2000;
}
@media (max-width: 960px) {
  /* line 248, ../components/menu.scss */
  #main-menu-mobile-toggle {
    display: block;
  }
}
/* line 262, ../components/menu.scss */
#main-menu-mobile-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 268, ../components/menu.scss */
#main-menu-mobile-toggle {
  color: #fff;
  padding: 0 3em 0 0;
}
/* line 272, ../components/menu.scss */
#main-menu-mobile-toggle:hover {
  color: #336699;
}
/* line 276, ../components/menu.scss */
#main-menu-mobile-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 281, ../components/menu.scss */
#main-menu-mobile-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: 4px;
  position: relative;
  top: -10px;
}
/* line 289, ../components/menu.scss */
#main-menu-mobile-toggle span.action-hide {
  display: none;
}
/* line 293, ../components/menu.scss */
#main-menu-mobile-toggle span.action-show {
  display: inline-block;
}

/* line 300, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-hide {
  display: inline-block;
}
/* line 304, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-show {
  display: none;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

/* line 17, ../components/node.scss */
.node-full .field-name-field-headline {
  font-size: 44px;
  line-height: 1;
  padding: 130px 30px 30px;
}
@media (max-width: 1280px) {
  /* line 17, ../components/node.scss */
  .node-full .field-name-field-headline {
    font-size: 36px;
  }
}

/* line 27, ../components/node.scss */
.field-name-field-drophead {
  font-size: 25px;
}

/* line 40, ../components/node.scss */
.node-inner {
  padding: 1.5em;
}

/* line 47, ../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../components/node.scss */
.node-full .node-breadcrumb {
  position: absolute;
  top: 60px;
}
/* line 60, ../components/node.scss */
.node-full .node-back {
  background: rgba(0, 0, 0, 0.75);
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 54.16667%;
  margin-left: 20.83333%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
}
@media (max-width: 1280px) {
  /* line 60, ../components/node.scss */
  .node-full .node-back {
    float: left;
    width: 33.33333%;
    margin-left: 4.16667%;
    margin-right: -37.5%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 74, ../components/node.scss */
.node-full .node-content {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 54.16667%;
  margin-left: 20.83333%;
  margin-right: -75%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: absolute;
}
@media (max-width: 1280px) {
  /* line 74, ../components/node.scss */
  .node-full .node-content {
    float: left;
    width: 33.33333%;
    margin-left: 4.16667%;
    margin-right: -37.5%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 84, ../components/node.scss */
.node-full .node-content .field-name-field-drophead p:first-child {
  margin-top: 0;
}
/* line 88, ../components/node.scss */
.node-full .node-content > .node-section-content {
  background: rgba(0, 0, 0, 0.6);
}
/* line 92, ../components/node.scss */
.node-full .node-content > .node-section-children {
  padding-left: 0;
  padding-right: 0;
  clear: both;
  padding: 0 10px;
}
/* line 98, ../components/node.scss */
.node-full .node-content > .node-section-children .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 105, ../components/node.scss */
.node-full .node-content > .node-section-children .row.even {
  padding: 0 10px;
}
/* line 109, ../components/node.scss */
.node-full .node-content > .node-section-children .row.odd {
  padding: 0 10px;
}
@media (max-width: 1280px) {
  /* line 98, ../components/node.scss */
  .node-full .node-content > .node-section-children .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 122, ../components/node.scss */
.node-full .node-content > .node-section-views {
  background: rgba(0, 0, 0, 0.6);
  clear: both;
}
/* line 126, ../components/node.scss */
.node-full .node-content > .node-section-views .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../components/node.scss */
.node-full .node-content > .node-section-views .row.even {
  padding: 0 10px;
}
/* line 137, ../components/node.scss */
.node-full .node-content > .node-section-views .row.odd {
  padding: 0 10px;
}
@media (max-width: 1280px) {
  /* line 126, ../components/node.scss */
  .node-full .node-content > .node-section-views .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 151, ../components/node.scss */
.node-full > .node-section-field-node-links {
  float: left;
  width: 25%;
  margin-left: 12.5%;
  margin-right: -37.5%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  clear: left;
}
/* line 156, ../components/node.scss */
.node-full > .node-section-field-node-links .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
}
/* line 162, ../components/node.scss */
.node-full > .node-section-field-node-links .row.even {
  margin: 20px 0;
}
/* line 166, ../components/node.scss */
.node-full > .node-section-field-node-links .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 156, ../components/node.scss */
  .node-full > .node-section-field-node-links .row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 180, ../components/node.scss */
.node-full.node-align-left .node-content {
  float: left;
  width: 54.16667%;
  margin-left: 4.16667%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 184, ../components/node.scss */
.node-full.node-align-left .node-back {
  float: left;
  width: 54.16667%;
  margin-left: 4.16667%;
  margin-right: -58.33333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 188, ../components/node.scss */
.node-full.node-align-right .node-content {
  float: left;
  width: 54.16667%;
  margin-left: 41.66667%;
  margin-right: -95.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 192, ../components/node.scss */
.node-full.node-align-right .node-back {
  float: left;
  width: 54.16667%;
  margin-left: 41.66667%;
  margin-right: -95.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 203, ../components/node.scss */
.node-teaser {
  margin: 1em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 207, ../components/node.scss */
.node-teaser h3 {
  font-size: 1.5em;
}
/* line 211, ../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 215, ../components/node.scss */
.node-teaser img {
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 221, ../components/node.scss */
.node-teaser .node-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 230, ../components/node.scss */
.node-scrape {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 234, ../components/node.scss */
.node-scrape p {
  margin: 0 0 1.5em;
}
/* line 238, ../components/node.scss */
.node-scrape img {
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.9);
  float: left;
  margin: 0 1em 0 0;
  width: 20%;
}
/* line 247, ../components/node.scss */
.node-scrape .node-inner {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 259, ../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 266, ../components/node.scss */
.node-scrape .icon {
  color: #696969;
  font-size: 40px;
  margin-top: -20px;
}

/* line 279, ../components/node.scss */
.node-teaser.node-type-article {
  border-bottom: 1px solid #fff;
  clear: both;
  float: none;
}

/* line 291, ../components/node.scss */
.menu-custom-siblings-menu {
  clear: left;
  float: left;
  width: 41.66667%;
  margin-left: 4.16667%;
  margin-right: -45.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 295, ../components/node.scss */
.menu-custom-siblings-menu a {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #fff;
  margin: 0 2px 2px;
  position: relative;
}
/* line 304, ../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #6699CC;
  border-color: #FFF;
}
/* line 309, ../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 313, ../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  background: none rgba(255, 255, 255, 0.9);
  display: block;
  left: -1px;
  position: absolute;
  top: 22px;
  padding: 0.5em;
  width: 33%;
}
/* line 325, ../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 332, ../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 339, ../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: none #FFF;
  border-color: #FFF;
}
/* line 345, ../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 356, ../components/node.scss */
.prev-link {
  color: white;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 365, ../components/node.scss */
.next-link {
  color: white;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

/* line 381, ../components/node.scss */
.node-section-field-headline {
  color: white;
}
@media (max-width: 1280px) {
  /* line 381, ../components/node.scss */
  .node-section-field-headline {
    font-size: 30px;
  }
}

/* line 396, ../components/node.scss */
.dark-on-light .field-name-field-headline {
  color: #282833;
}

/* line 412, ../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 426, ../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 435, ../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 17, ../components/_base.scss */
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

@-webkit-keyframes rotate {
  /* line 18, ../components/animation.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 21, ../components/animation.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  /* line 26, ../components/animation.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 29, ../components/animation.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  /* line 34, ../components/animation.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 37, ../components/animation.scss */
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  /* line 42, ../components/animation.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 45, ../components/animation.scss */
  to {
    transform: rotate(360deg);
  }
}
/* line 17, ../screen.scss */
* {
  margin: 0;
  outline: 0 none;
  padding: 0;
}

/* line 23, ../screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 28, ../screen.scss */
body {
  background: none repeat scroll 0 0 #112233;
  color: white;
  font-family: "Play",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

/* line 40, ../screen.scss */
img {
  margin: 0;
  padding: 0;
}

/* line 45, ../screen.scss */
pre {
  background: #6699cc;
  border: 0px dotted #fff;
  margin: 1em 0;
  padding: 2em 0.5em;
}

/* line 58, ../screen.scss */
a.on,
a.on:hover {
  color: #525456 !important;
  text-shadow: none !important;
}

/* line 64, ../screen.scss */
.tab a:link, .tab a:visited {
  color: #99ccff;
}

/* line 68, ../screen.scss */
.tab a:hover {
  color: #336699;
}

/* line 72, ../screen.scss */
.tab .form-submit {
  color: #99ccff;
  border-color: #99ccff;
}

/* line 77, ../screen.scss */
a img {
  border: medium none;
}

/* line 81, ../screen.scss */
p {
  margin: 1.1em 0;
}

/* line 85, ../screen.scss */
ul {
  margin-left: 0;
  padding: 0;
  margin: 0;
}

/* line 91, ../screen.scss */
li {
  list-style-type: square;
  margin: 0 0 0 1em;
  padding: 0 0 1em;
}

/* line 97, ../screen.scss */
.right {
  float: right;
}

/* line 101, ../screen.scss */
.left {
  float: left;
}

/* line 105, ../screen.scss */
.clear {
  clear: both;
}

/* line 109, ../screen.scss */
.ghost {
  display: none !important;
}

/* line 115, ../screen.scss */
.breadcrumb-0 {
  font-size: 0px;
}
/* line 118, ../screen.scss */
.breadcrumb-0:after {
  content: ".";
  font-size: 20px;
}

/* line 130, ../screen.scss */
.ajax-progress .throbber {
  height: 25px;
  width: 100%;
}

/* line 135, ../screen.scss */
h1, h2, h3, #tab-menu, #animateControl, #status, .tab-close, .form-submit, .field-name-field-headline, .field-name-field-drophead, ul.headlines, .pager, .pubDate {
  font-family: "Play","TitilliumMaps",helvetica,arial,sans-serif;
}

/* line 139, ../screen.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 146, ../screen.scss */
h2 {
  font-size: 1em;
}

/* line 150, ../screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 154, ../screen.scss */
.breadcrumb h1,
.breadcrumb h2 {
  font-weight: normal;
  display: inline;
}

/* line 160, ../screen.scss */
#header, #footer, label, .form-submit, .tab-close, .pager, .breadcrumb span, .breadcrumb h1, .breadcrumb h2 {
  font-size: 0.7em;
}

/* line 164, ../screen.scss */
.breadcrumb span, .breadcrumb h1, .breadcrumb h2 {
  font-size: 1em;
}

/* line 168, ../screen.scss */
.pubDate {
  font-size: 0.6em;
  letter-spacing: 0.25em;
}

/* line 173, ../screen.scss */
#readOut {
  font-size: 0.5em;
}

/* line 177, ../screen.scss */
h1, h2, h3,
.field-name-field-headline {
  font-weight: 700;
}

/* line 182, ../screen.scss */
.front #siteName {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
}

/* line 189, ../screen.scss */
.front #pageContent {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
  top: 3%;
}

/* line 197, ../screen.scss */
#outer {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 207, ../screen.scss */
#scene-container {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-height: 2500px;
  max-width: 2500px;
  margin: 0 auto;
}

/* line 217, ../screen.scss */
#scene {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 228, ../screen.scss */
div.scene-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 237, ../screen.scss */
img.scene-layer {
  position: absolute;
}

/* line 241, ../screen.scss */
#matte {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 250, ../screen.scss */
#matte img {
  height: 100%;
  width: 100%;
}

/* line 255, ../screen.scss */
.trans {
  background: none #d8e5f2;
  bottom: 0;
  height: 100%;
  filter: alpha(opacity=15);
  -moz-opacity: 0.15;
  -khtml-opacity: 0.15;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 266, ../screen.scss */
.hover .trans {
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  opacity: 0.35;
}

/* line 270, ../screen.scss */
.active .trans {
  background: none #000;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 275, ../screen.scss */
.tab .trans {
  background: none repeat scroll 0 0 #d8e5f2;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 284, ../screen.scss */
#site-logo {
  display: block;
  left: 40px;
  padding: 7px;
  position: absolute;
  width: 302px;
  z-index: 5000;
}
@media (max-width: 1280px) {
  /* line 284, ../screen.scss */
  #site-logo {
    left: initial;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
}

/* line 301, ../screen.scss */
#site-logo img {
  height: 46px;
  width: 302px;
}

/* line 306, ../screen.scss */
#status {
  position: absolute;
  bottom: 7px;
  height: 2em;
  left: 33%;
  text-align: center;
  width: 33%;
}

/* line 315, ../screen.scss */
#tab-menu {
  top: 15px;
  right: 20px;
  position: absolute;
  text-align: right;
  width: 200px;
  z-index: 1001;
}

/* line 324, ../screen.scss */
#tab-menu li {
  display: block;
  float: right;
  padding: 0;
}

/* line 330, ../screen.scss */
#tab-menu a {
  color: #fff;
  display: block;
  padding: 0 3em 0 0;
  text-align: right;
}
/* line 336, ../screen.scss */
#tab-menu a:hover {
  color: #336699;
}
/* line 340, ../screen.scss */
#tab-menu a span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 345, ../screen.scss */
#tab-menu a span.text {
  display: inline-block;
  font-size: 14px;
  margin-top: -4px;
}
/* line 351, ../screen.scss */
#tab-menu a span.action-hide {
  display: none;
}
/* line 355, ../screen.scss */
#tab-menu a span.action-show {
  display: inline-block;
}

/* line 362, ../screen.scss */
#tab-menu a.on span.action-hide {
  display: inline-block;
}
/* line 366, ../screen.scss */
#tab-menu a.on span.action-show {
  display: none;
}

/* line 377, ../screen.scss */
#top {
  background: #c0d9f3;
  height: 60px;
  opacity: 1;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: #222222 0 2px 2px;
  -webkit-box-shadow: #222222 0 2px 2px;
  box-shadow: #222222 0 2px 2px;
}
@media (max-width: 1280px) {
  /* line 377, ../screen.scss */
  #top {
    height: 100px;
  }
}
@media (max-width: 960px) {
  /* line 377, ../screen.scss */
  #top {
    height: 60px;
  }
}
/* line 397, ../screen.scss */
#top:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 408, ../screen.scss */
#bottom {
  -moz-box-shadow: #222222 -2px 0 2px;
  -webkit-box-shadow: #222222 -2px 0 2px;
  box-shadow: #222222 -2px 0 2px;
  background: #2C2F32;
  background: #6699cc;
  margin: 0;
  position: fixed;
  opacity: 1;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
/* line 420, ../screen.scss */
#bottom:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 431, ../screen.scss */
#bottom-inner-one {
  display: block;
  height: 30px;
  padding-top: 4px;
  position: relative;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 440, ../screen.scss */
#bottom-inner-two {
  display: none;
  height: 0;
  position: relative;
  text-align: center;
  visibility: hidden;
}

/* line 448, ../screen.scss */
#sceneAssets {
  height: 0;
  overflow: hidden;
}

/* line 453, ../screen.scss */
#screen {
  display: none;
  background: #112233;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

/* line 465, ../screen.scss */
.pubDate {
  margin: 0.25em 0 0;
  text-transform: uppercase;
}

/* line 470, ../screen.scss */
.node-full .pubDate {
  margin: 0.25em 0 1em;
}

/* line 474, ../screen.scss */
#sb-container {
  margin: 4px 0;
  top: 6%;
}

/* line 485, ../screen.scss */
.tab.show {
  display: block;
  left: 0;
}

/* line 490, ../screen.scss */
.tab {
  background: #112233;
  display: none;
  height: 100%;
  left: -100%;
  padding-top: 120px;
  position: absolute;
  width: 100%;
  z-index: 999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 502, ../screen.scss */
.tabContent {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
}

/* line 508, ../screen.scss */
.tabContent .left, .tabContent .right {
  overflow: hidden;
  width: 45%;
}

/* line 516, ../screen.scss */
.block-webform .webform-client-form {
  width: 100%;
}

/* line 520, ../screen.scss */
.tab-close {
  position: absolute;
  top: 10%;
  right: 20%;
  text-transform: uppercase;
}

/* line 533, ../screen.scss */
#panelContainer {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 533, ../screen.scss */
  #panelContainer {
    padding: 140px 0 0;
  }
}
@media (max-width: 960px) {
  /* line 533, ../screen.scss */
  #panelContainer {
    padding: 100px 0 0;
  }
}
/* line 550, ../screen.scss */
#panelContainer .loading-icon {
  font-family: fontello;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: -200px;
  opacity: 0;
  margin-top: -3em;
  margin-left: -3em;
}
/* line 565, ../screen.scss */
#panelContainer.loading .loading-icon {
  display: block;
  font-family: fontello;
  font-size: 6em;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 900px;
  visibility: visible;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation: rotate 1s infinite linear;
  /* Safari 4+ */
  -moz-animation: rotate 1s infinite linear;
  /* Fx 5+ */
  -o-animation: rotate 1s infinite linear;
  /* Opera 12+ */
  animation: rotate 1s infinite linear;
  /* IE 10+, Fx 29+ */
}

/* line 586, ../screen.scss */
#panelContainer .panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: -100%;
  height: 100%;
  margin: 0;
  padding-top: 60px;
  position: absolute;
}
/* line 595, ../screen.scss */
#panelContainer .panel > .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 603, ../screen.scss */
#panelContainer .panel.active {
  left: 0;
  width: 100%;
}

/* line 608, ../screen.scss */
.panelControl {
  color: #fff;
  display: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

/* line 625, ../screen.scss */
.breadcrumb {
  border-bottom: 2px solid #FFF;
  margin: 0 0 0.5em;
  padding: 0;
  text-transform: uppercase;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  clear: left;
  float: left;
  width: 91.66667%;
  margin-left: 4.16667%;
  margin-right: -95.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 634, ../screen.scss */
.breadcrumb a, .breadcrumb a:visited {
  color: #fff;
  font-weight: 400;
}

/* line 640, ../screen.scss */
.breadcrumb .sep {
  float: none;
  font-family: "fontello";
}

/* line 645, ../screen.scss */
.breadcrumb span {
  display: inline-block;
}

/* line 649, ../screen.scss */
.breadcrumb h1 {
  display: inline-block;
}

/* line 657, ../screen.scss */
input.form-text {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #888;
  display: block;
  float: none;
  font-size: 1em;
  padding: 2px;
  width: 98%;
}

/* line 668, ../screen.scss */
.form-textarea-wrapper textarea.form-textarea {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #888;
  width: 98%;
}

/* line 676, ../screen.scss */
.resizable-textarea .grippie {
  display: none;
}

/* line 680, ../screen.scss */
.form-submit {
  background: transparent;
  border: 1px solid #99ccff;
  color: #99ccff;
  padding: 0.25em;
  text-transform: uppercase;
  width: auto;
}

/* line 689, ../screen.scss */
.label {
  padding: 0 0.5em 0 0;
}

/* line 693, ../screen.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 701, ../screen.scss */
.clearfix {
  display: inline-block;
}

/* line 705, ../screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 709, ../screen.scss */
* + html .clearfix {
  height: 1%;
}

/* line 713, ../screen.scss */
.clearfix {
  display: block;
}

/* line 723, ../screen.scss */
.displayImg {
  margin: 1em 0 0 0;
  width: 100%;
}

/* line 728, ../screen.scss */
.imageContainer {
  float: right;
  width: 50%;
  margin: 0 0 2em 1em;
}
@media (max-width: 1280px) {
  /* line 728, ../screen.scss */
  .imageContainer {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
}

/* line 740, ../screen.scss */
.imageContainer .medImg {
  display: block;
  margin: 5% 0 0 5%;
  width: 95%;
}

/* line 746, ../screen.scss */
.imageContainer .thumbImg {
  float: left;
  margin: 5% 0 0 5%;
  width: 20%;
}

/* line 772, ../screen.scss */
#readOut {
  height: 74%;
  position: absolute;
  text-align: left;
  top: 20%;
  width: 14%;
}

/* line 780, ../screen.scss */
#readOut div {
  color: #FFF;
  padding: 0 10px;
}

/* line 785, ../screen.scss */
#readOut p {
  margin: 0;
}

/* line 789, ../screen.scss */
.feedContainer .item-list {
  margin: 1.1em 0;
}

/* line 793, ../screen.scss */
.feedContainer .more-link {
  display: none;
}

/* line 798, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 804, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 810, ../screen.scss */
ul.graphic li {
  margin-bottom: 2px;
}

/* line 814, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_link {
  display: inline-block;
  font-weight: normal;
  padding: 3px 3px 3px 25px;
  text-decoration: none;
  vertical-align: middle;
}
/* line 821, ../screen.scss */
ul.graphic li a:before, ul.graphic li a.sm2_link:before {
  content: "r";
  font-family: "fontello";
}

/* line 827, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_paused:hover, ul.graphic li a.sm2_link:hover {
  background-image: url("img/icon-play.png");
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

/* line 841, ../screen.scss */
ul.graphic li a.sm2_paused:hover {
  background: url("img/icon-play.png") no-repeat scroll 3px 50% transparent;
}

/* line 845, ../screen.scss */
ul.graphic li a.sm2_playing, ul.graphic li a.sm2_playing:hover {
  background: url("img/icon-pause.png") no-repeat scroll 3px 50% transparent;
  text-decoration: none;
}

/* line 849, ../screen.scss */
body #sm2-container object, body #sm2-container embed {
  left: -9999em;
  top: -9999em;
}

/* line 862, ../screen.scss */
#alert-screen {
  background: #112233;
  position: absolute;
  left: -100%;
  height: 100%;
  text-align: center;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 873, ../screen.scss */
#alert-screen .inner {
  padding-top: 140px;
  position: relative;
}

/* line 878, ../screen.scss */
form#user-login {
  padding: 2em;
}

/* === Pager Display ==================== */
/* line 884, ../screen.scss */
ul.pager {
  margin: -1em auto 0;
  text-transform: uppercase;
  width: 84%;
}

/* line 890, ../screen.scss */
.item-list ul.pager li {
  display: block;
  float: left;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0;
}

/* line 897, ../screen.scss */
ul.pager li a:link, ul.pager li a:visited {
  background: none #6699CC;
  border: 1px solid #6699cc;
  color: #FFF;
  display: block;
  padding: 0.5em 1em;
}

/* line 905, ../screen.scss */
ul.pager li a:hover {
  border: 1px solid #ee6600;
}

/* line 909, ../screen.scss */
ul.pager li.pager-current {
  background: none transparent;
  border: 1px solid #BBB;
  color: #BBB;
  padding: 0.5em 1em;
}

/* line 918, ../screen.scss */
.icon {
  font-family: "fontello";
}

/* line 922, ../screen.scss */
.curr {
  display: block;
}

/* line 935, ../screen.scss */
.menu-custom-siblings-menu {
  clear: left;
  float: left;
  width: 41.66667%;
  margin-left: 4.16667%;
  margin-right: -45.83333%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 939, ../screen.scss */
.menu-custom-siblings-menu a {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #fff;
  margin: 0 2px 2px;
  position: relative;
}
/* line 948, ../screen.scss */
.menu-custom-siblings-menu a:hover {
  background: none #6699CC;
  border-color: #FFF;
}
/* line 953, ../screen.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 957, ../screen.scss */
.menu-custom-siblings-menu a:hover span {
  background: none rgba(255, 255, 255, 0.9);
  display: block;
  left: -1px;
  position: absolute;
  top: 22px;
  padding: 0.5em;
  width: 33%;
}
/* line 969, ../screen.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 976, ../screen.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 983, ../screen.scss */
.menu-custom-siblings-menu .active, .menu-custom-siblings-menu .active:hover {
  background: none #FFF;
  border-color: #FFF;
}
/* line 986, ../screen.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}
