/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../components/_base.scss */
a:hover {
  color: #99CCFF;
}

/* line 17, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../components/_base.scss */
a:hover {
  color: #99CCFF;
}

/* line 5, ../components/menu.scss */
#main-menu {
  height: 60px;
  padding-left: 380px;
  padding-right: 60px;
  position: fixed;
  top: 0;
  font-size: 15px;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 5, ../components/menu.scss */
  #main-menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
    top: 60px;
  }
}

/* line 24, ../components/menu.scss */
#main-menu > ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1px;
  position: relative;
  width: 100%;
}
/* line 35, ../components/menu.scss */
#main-menu > ul > li.first {
  display: none;
}
/* line 43, ../components/menu.scss */
#main-menu > ul li {
  display: block;
  height: 100%;
  list-style: none;
  float: left;
  font-weight: 700;
  margin: 0;
  padding: 0 1px 2px 0;
  padding: 0 1px 0 0;
  padding: 3px 1px;
  position: relative;
  text-transform: uppercase;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 43, ../components/menu.scss */
  #main-menu > ul li {
    float: none;
    padding: 1px 0 0;
    width: auto;
  }
}
/* line 69, ../components/menu.scss */
#main-menu > ul li:hover a:hover {
  background-color: #336699;
}
/* line 80, ../components/menu.scss */
#main-menu > ul li.on > ul {
  display: block;
  left: 0;
  opacity: 1;
  position: relative;
}
/* line 87, ../components/menu.scss */
#main-menu > ul li.on li {
  float: none;
}
/* line 91, ../components/menu.scss */
#main-menu > ul li.on a {
  background: #336699;
}
/* line 94, ../components/menu.scss */
#main-menu > ul li.on a:hover {
  background: #6699CC;
  background: #80b3e6;
  border-color: #80b3e6;
}
/* line 101, ../components/menu.scss */
#main-menu > ul li.on .li-expand {
  opacity: 1;
}
/* line 108, ../components/menu.scss */
#main-menu > ul li a {
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 200ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 115, ../components/menu.scss */
#main-menu > ul li > a {
  background-color: #4D80B3;
  display: block;
  height: 100%;
  padding: 16px 0 0 1em;
  transition: background-color 200ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 115, ../components/menu.scss */
  #main-menu > ul li > a {
    padding: 6px 0 0 1em;
  }
}
/* line 136, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand {
  color: #ddeeff;
  cursor: pointer;
  display: block;
  font-family: "fontello";
  font-size: 28px;
  height: 40px;
  line-height: 20px;
  opacity: 0.3;
  padding: 10px;
  position: absolute;
  text-transform: none;
  top: 10px;
  right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  /* line 136, ../components/menu.scss */
  #main-menu > ul li.expanded .li-expand {
    height: 20px;
    padding: 0 6px;
  }
}
/* line 158, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand:hover {
  color: #ddeeff;
  opacity: 1;
}
/* line 166, ../components/menu.scss */
#main-menu > ul li ul {
  opacity: 0;
  position: absolute;
  left: -20000px;
  transition: opacity 0.2s;
}
/* line 174, ../components/menu.scss */
#main-menu > ul li li {
  border: 0 none;
  float: none !important;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  width: 100%;
}
/* line 183, ../components/menu.scss */
#main-menu > ul li li a {
  font-weight: 400;
  padding: 1em;
}

/* line 199, ../components/menu.scss */
.li-expand .close {
  display: none;
}

/* line 206, ../components/menu.scss */
li.on > .li-expand .close {
  display: block;
}
/* line 210, ../components/menu.scss */
li.on > .li-expand .open {
  display: none;
}

@media (max-width: 1280px) {
  /* line 227, ../components/menu.scss */
  #main-menu.on {
    display: block;
  }
  /* line 233, ../components/menu.scss */
  #main-menu.on ul {
    height: auto;
  }
  /* line 238, ../components/menu.scss */
  #main-menu.on li {
    float: none;
  }
}

/* line 249, ../components/menu.scss */
#main-menu-mobile-toggle {
  top: 15px;
  cursor: pointer;
  display: none;
  font-size: 11px;
  left: 20px;
  position: absolute;
  z-index: 2000;
}
@media (max-width: 1280px) {
  /* line 249, ../components/menu.scss */
  #main-menu-mobile-toggle {
    display: block;
  }
}
/* line 262, ../components/menu.scss */
#main-menu-mobile-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 268, ../components/menu.scss */
#main-menu-mobile-toggle {
  color: #fff;
  padding: 0 3em 0 0;
}
/* line 272, ../components/menu.scss */
#main-menu-mobile-toggle:hover {
  color: #336699;
}
/* line 276, ../components/menu.scss */
#main-menu-mobile-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 281, ../components/menu.scss */
#main-menu-mobile-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: 4px;
  position: relative;
  top: -10px;
}
/* line 289, ../components/menu.scss */
#main-menu-mobile-toggle span.action-hide {
  display: none;
}
/* line 293, ../components/menu.scss */
#main-menu-mobile-toggle span.action-show {
  display: inline-block;
}

/* line 300, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-hide {
  display: inline-block;
}
/* line 304, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-show {
  display: none;
}

/* line 315, ../components/menu.scss */
#contact-toggle {
  color: #fff;
  direction: rtl;
  top: 15px;
  padding: 0;
  cursor: pointer;
  display: none;
  font-size: 11px;
  right: 20px;
  position: absolute;
  z-index: 2000;
}
@media (max-width: 960px) {
  /* line 315, ../components/menu.scss */
  #contact-toggle {
    display: block;
  }
}
/* line 331, ../components/menu.scss */
#contact-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 339, ../components/menu.scss */
#contact-toggle:hover {
  color: #336699;
}
/* line 343, ../components/menu.scss */
#contact-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 348, ../components/menu.scss */
#contact-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: -4px;
  position: relative;
  top: -10px;
}
/* line 356, ../components/menu.scss */
#contact-toggle span.action-hide {
  display: none;
}
/* line 360, ../components/menu.scss */
#contact-toggle span.action-show {
  display: inline-block;
}

/* line 367, ../components/menu.scss */
#contact-toggle.on span.action-hide {
  display: inline-block;
}
/* line 371, ../components/menu.scss */
#contact-toggle.on span.action-show {
  display: none;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../components/_base.scss */
a:hover {
  color: #99CCFF;
}

/* line 11, ../components/node.scss */
.field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../components/node.scss */
.node-breadcrumb {
  position: fixed;
  top: 60px;
  width: 100%;
}

/* line 29, ../components/node.scss */
.node-sibling-menu {
  position: fixed;
  bottom: 0;
  height: 30px;
  text-align: center;
  width: 100%;
  z-index: 1002;
}

/* line 39, ../components/node.scss */
.node-section-menu-children {
  padding: 0;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 39, ../components/node.scss */
  .node-section-menu-children {
    width: 100%;
  }
}
/* line 50, ../components/node.scss */
.node-section-menu-children .row {
  float: left;
  margin: 30px 0;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../components/node.scss */
.node-section-menu-children .row.even {
  padding: 0 10px;
}
/* line 60, ../components/node.scss */
.node-section-menu-children .row.odd {
  padding: 0 10px;
}

/* line 72, ../components/node.scss */
.node-inner-one {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 86, ../components/node.scss */
.node-title {
  position: relative;
}

/* line 90, ../components/node.scss */
.field-item ul {
  margin-bottom: 15px;
}

/* line 94, ../components/node.scss */
.field-name-field-headline {
  background: rgba(0, 17, 34, 0.9);
  font-weight: 700;
  margin: 0 auto;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
@media (max-width: 1400px) {
  /* line 94, ../components/node.scss */
  .field-name-field-headline {
    width: 100%;
  }
}
/* line 105, ../components/node.scss */
.field-name-field-headline .field-item {
  display: block;
  background: rgba(0, 17, 34, 0.9);
  margin: 0;
  padding: 15px 30px 5px;
}

/* line 113, ../components/node.scss */
.field-name-field-drophead {
  background: rgba(0, 17, 34, 0.9);
  font-size: 25px;
  padding: 15px 30px 0;
  position: relative;
}
/* line 119, ../components/node.scss */
.field-name-field-drophead p:first-child {
  margin-top: 0;
}

/* line 124, ../components/node.scss */
.field-name-body {
  background: rgba(0, 17, 34, 0.9);
  padding: 0 30px;
  position: relative;
}

/* line 130, ../components/node.scss */
.field-name-field-display-img {
  position: relative;
}
/* line 133, ../components/node.scss */
.field-name-field-display-img img {
  display: block;
}

/* line 138, ../components/node.scss */
.field-name-field-image {
  position: relative;
}
/* line 141, ../components/node.scss */
.field-name-field-image img {
  display: block;
}

/* line 146, ../components/node.scss */
.field-name-field-node-links {
  position: relative;
}
/* line 149, ../components/node.scss */
.field-name-field-node-links img {
  display: block;
}
/* line 153, ../components/node.scss */
.field-name-field-node-links .field-item {
  background: rgba(0, 17, 34, 0.9);
  margin: 10px 0;
  position: relative;
}
/* line 159, ../components/node.scss */
.field-name-field-node-links a {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding: 15px 15px 15px 80px;
}
/* line 165, ../components/node.scss */
.field-name-field-node-links a:before {
  background: none repeat scroll 0 0 #336699;
  color: #fff;
  content: "r";
  display: block;
  font-family: "fontello";
  font-size: 60px;
  left: 0;
  padding: 2px 20px 2px 25px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 186, ../components/node.scss */
.content-static.active .menu-custom-siblings-menu,
.content-dynamic.active .menu-custom-siblings-menu {
  position: fixed;
  bottom: 0;
  z-index: 1001;
}

/* line 219, ../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 227, ../components/node.scss */
.node-full .node-inner-two {
  float: none;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 235, ../components/node.scss */
.node-full .node-inner-two form {
  position: relative;
}
/* line 240, ../components/node.scss */
.node-full .node-section-content {
  background: rgba(0, 17, 34, 0.9);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 240, ../components/node.scss */
  .node-full .node-section-content {
    width: 100%;
  }
}
/* line 252, ../components/node.scss */
.node-full .node-section-field-image {
  position: relative;
  width: 45%;
  position: relative;
  float: right;
}
/* line 264, ../components/node.scss */
.node-full .node-section-views .views-row {
  float: left;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 1280px) {
  /* line 264, ../components/node.scss */
  .node-full .node-section-views .views-row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 281, ../components/node.scss */
.node-full .node-section-field-node-links {
  margin: 0 auto;
}
@media (max-width: 1400px) {
  /* line 281, ../components/node.scss */
  .node-full .node-section-field-node-links {
    width: 100%;
  }
}

/* line 303, ../components/node.scss */
.panel-content {
  height: 100%;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 319, ../components/node.scss */
.panel-content.node-align-left .node-full,
.panel-content.node-align-left .node-section-menu-children {
  margin-right: 50%;
  width: 50%;
}
@media (max-width: 1400px) {
  /* line 319, ../components/node.scss */
  .panel-content.node-align-left .node-full,
  .panel-content.node-align-left .node-section-menu-children {
    margin: 0 auto;
    width: 100%;
  }
}
/* line 341, ../components/node.scss */
.panel-content.node-align-right .node-full,
.panel-content.node-align-right .node-section-menu-children {
  margin-left: 50%;
  width: 50%;
}
@media (max-width: 1400px) {
  /* line 341, ../components/node.scss */
  .panel-content.node-align-right .node-full,
  .panel-content.node-align-right .node-section-menu-children {
    margin: 0 auto;
    width: 100%;
  }
}

/* line 358, ../components/node.scss */
.pubDate {
  font-size: 14px;
  padding: 0 10px 10px;
}

/* line 363, ../components/node.scss */
.node-teaser {
  background: #e2e2e2;
  background: rgba(255, 255, 255, 0.8);
  color: #282833;
  position: relative;
  margin: 1em 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 372, ../components/node.scss */
.node-teaser .node-teaser-img {
  float: left;
  width: 20%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 381, ../components/node.scss */
.node-teaser .node-content {
  clear: initial;
  width: 80%;
  float: right;
  margin: 0;
  position: relative;
}
/* line 389, ../components/node.scss */
.node-teaser .node-field-title {
  padding: 20px 10px 0;
}
/* line 392, ../components/node.scss */
.node-teaser .node-field-title:before {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
/* line 404, ../components/node.scss */
.node-teaser .field-name-teaser-img {
  position: relative;
  width: 100%;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 411, ../components/node.scss */
.node-teaser .field-name-body {
  padding: 0 10px;
  position: relative;
}
/* line 425, ../components/node.scss */
.node-teaser .node-title {
  font-size: 1.5em;
}
/* line 429, ../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 433, ../components/node.scss */
.node-teaser img {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 447, ../components/node.scss */
.node-scrape {
  background: #101010;
  background: rgba(0, 17, 34, 0.9);
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 454, ../components/node.scss */
.node-scrape .node-teaser-img {
  padding: 15px 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 459, ../components/node.scss */
.node-scrape .node-section-content {
  margin-left: 0;
}
/* line 463, ../components/node.scss */
.node-scrape .node-field-title {
  position: relative;
  padding: 0 15px 15px;
}
/* line 468, ../components/node.scss */
.node-scrape .node-title {
  padding-top: 15px;
  text-align: center;
}
/* line 473, ../components/node.scss */
.node-scrape .node-title a:before {
  content: "d";
  display: block;
  font-family: "fontello";
  left: 0;
  background: #336699;
  color: #fff;
  margin-bottom: 8px;
  top: 0;
  width: 100%;
  height: 1em;
}
/* line 490, ../components/node.scss */
.node-scrape .field-name-body {
  padding: 0 15px 1px;
}
/* line 494, ../components/node.scss */
.node-scrape .node-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 500, ../components/node.scss */
.node-scrape .field-name-field-headline {
  width: 100%;
  margin: 0;
}
/* line 505, ../components/node.scss */
.node-scrape .field-name-teaser-img {
  box-sizing: border-box;
  position: relative;
}
/* line 509, ../components/node.scss */
.node-scrape .field-name-teaser-img img {
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 522, ../components/node.scss */
  .node-scrape .field-name-field-headline {
    text-align: center;
  }
}

/* line 538, ../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 545, ../components/node.scss */
.node-scrape .icon {
  font-size: 40px;
  margin-top: -20px;
}

/* line 557, ../components/node.scss */
.node-teaser.node-article {
  clear: both;
  float: none;
}

/* line 571, ../components/node.scss */
.node-full.has-field-scene {
  padding-top: 0;
}

/* line 593, ../components/node.scss */
.menu-custom-siblings-menu {
  position: relative;
}
/* line 597, ../components/node.scss */
.menu-custom-siblings-menu a {
  background: none #6699CC;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #6699cc;
  margin: 0 5px 0 0;
}
/* line 607, ../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #336699;
  border-color: #336699;
}
/* line 612, ../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 616, ../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  display: block;
  left: 0;
  position: absolute;
  top: 1.5em;
  white-space: nowrap;
  width: 100%;
}
/* line 625, ../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 632, ../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 640, ../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: #DDDDDD;
  border-color: #DDDDDD;
}
/* line 645, ../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 656, ../components/node.scss */
.prev-link {
  color: #f1f3f6;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 665, ../components/node.scss */
.next-link {
  color: #f1f3f6;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

/* line 686, ../components/node.scss */
.node.node-light-on-dark {
  color: #f1f3f6;
}
/* line 689, ../components/node.scss */
.node.node-light-on-dark .node-back {
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0.85);
}

/* line 701, ../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 714, ../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 723, ../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../ruby/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 25, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 33, ../components/_base.scss */
a:hover {
  color: #99CCFF;
}

@-webkit-keyframes rotate {
  /* line 18, ../components/animation.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 21, ../components/animation.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 26, ../components/animation.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 29, ../components/animation.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 34, ../components/animation.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 37, ../components/animation.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 42, ../components/animation.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 45, ../components/animation.scss */
  to {
    transform: rotate(360deg);
  }
}

/* line 51, ../components/animation.scss */
#scene-container {
  opacity: 1;
  transition: opacity 1s;
}
/* line 55, ../components/animation.scss */
#scene-container.loading {
  opacity: 0;
}

/* line 66, ../components/animation.scss */
.content-dynamic .node-back,
.content-static .node-back {
  left: 0;
  transition: left 1s;
}

/* line 73, ../components/animation.scss */
.content-dynamic.active .node-back,
.content-static.active .node-back {
  left: 0;
}

/* line 79, ../components/animation.scss */
#panelContainer .panel .container .node-align-left {
  left: -100px;
  transition: left 200ms;
}

/* line 84, ../components/animation.scss */
#panelContainer .panel .container .active .node-align-left {
  left: 0;
}

/* line 88, ../components/animation.scss */
#panelContainer .panel .container .node-align-right {
  right: -100px;
  transition: right 200ms;
}

/* line 93, ../components/animation.scss */
#panelContainer .panel .container .active .node-align-right {
  right: 0;
}

/* line 17, ../screen.scss */
* {
  margin: 0;
  outline: 0 none;
  padding: 0;
}

/* line 23, ../screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 28, ../screen.scss */
body {
  background: none repeat scroll 0 0 #00001a;
  color: #F1F3F6;
  font-family: "Play","TitilliumMaps",helvetica,arial,sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

/* line 41, ../screen.scss */
img {
  margin: 0;
  padding: 0;
}

/* line 46, ../screen.scss */
pre {
  background: #6699cc;
  border: 0px dotted #fff;
  margin: 1em 0;
  padding: 2em 0.5em;
}

/* line 60, ../screen.scss */
a.on,
a.on:hover {
  color: #525456 !important;
  text-shadow: none !important;
}

/* line 65, ../screen.scss */
.tab a:link, .tab a:visited {
  color: #99ccff;
}

/* line 69, ../screen.scss */
.tab a:hover {
  color: #336699;
}

/* line 73, ../screen.scss */
.tab .form-submit {
  color: #99ccff;
  border-color: #99ccff;
}

/* line 78, ../screen.scss */
a img {
  border: medium none;
}

/* line 82, ../screen.scss */
p {
  margin: 0 0 30px 0;
}

/* line 86, ../screen.scss */
ul {
  margin-left: 0;
  padding: 0;
  margin: 0;
}

/* line 92, ../screen.scss */
li {
  list-style-type: square;
  margin: 0 0 0 1em;
  padding: 0 0 1em;
}

/* line 98, ../screen.scss */
.right {
  float: right;
}

/* line 102, ../screen.scss */
.left {
  float: left;
}

/* line 106, ../screen.scss */
.clear {
  clear: both;
}

/* line 110, ../screen.scss */
.ghost {
  display: none !important;
}

/* line 114, ../screen.scss */
.breadcrumb-0 {
  margin-right: 2px;
  font-size: 14px;
  font-family: "fontello";
  text-transform: none;
}

/* line 127, ../screen.scss */
#screen {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 60px 0 0;
  transition: background-color 3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 144, ../screen.scss */
#screen #screen-frame {
  border-top: 20px solid #f2f2f2;
  border-bottom: 20px solid #f2f2f2;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 154, ../screen.scss */
#screen.loading {
  background-color: #00001a;
  transition: background-color 3s;
}

/* line 164, ../screen.scss */
.ajax-progress .throbber {
  height: 25px;
  width: 100%;
}

/* line 170, ../screen.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 175, ../screen.scss */
h2 {
  font-size: 1em;
}

/* line 179, ../screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 183, ../screen.scss */
#readOut {
  font-size: 0.5em;
}

/* line 189, ../screen.scss */
.field-name-field-headline {
  font-weight: 700;
}

/* line 193, ../screen.scss */
.front #siteName {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
}

/* line 200, ../screen.scss */
.front #pageContent {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
  top: 3%;
}

/* line 208, ../screen.scss */
#outer {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 218, ../screen.scss */
#scene-container {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-height: 2500px;
  max-width: 2500px;
  margin: 0 auto;
}

/* line 233, ../screen.scss */
#scene {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 244, ../screen.scss */
div.scene-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 253, ../screen.scss */
img.scene-layer {
  position: absolute;
}

/* line 257, ../screen.scss */
#matte {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 266, ../screen.scss */
#matte img {
  height: 100%;
  width: 100%;
}

/* line 271, ../screen.scss */
.trans {
  background: none #d8e5f2;
  bottom: 0;
  height: 100%;
  filter: alpha(opacity=15);
  -moz-opacity: 0.15;
  -khtml-opacity: 0.15;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 282, ../screen.scss */
.hover .trans {
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  opacity: 0.35;
}

/* line 286, ../screen.scss */
.active .trans {
  background: none #000;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 291, ../screen.scss */
.tab .trans {
  background: none repeat scroll 0 0 #d8e5f2;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 296, ../screen.scss */
#site-logo {
  display: block;
  left: 40px;
  padding: 7px;
  position: absolute;
  width: 302px;
  z-index: 5000;
}
@media (max-width: 1280px) {
  /* line 296, ../screen.scss */
  #site-logo {
    left: initial;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
}

/* line 312, ../screen.scss */
#site-logo img {
  height: 46px;
  width: 302px;
}

/* line 317, ../screen.scss */
#status {
  position: absolute;
  bottom: 7px;
  height: 2em;
  left: 33%;
  text-align: center;
  width: 33%;
}

/* line 326, ../screen.scss */
#tab-menu {
  display: none;
  height: 60px;
  line-height: 60px;
  right: 20px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 200px;
  z-index: 1001;
}
@media (max-width: 960px) {
  /* line 326, ../screen.scss */
  #tab-menu {
    display: block;
  }
}

/* line 342, ../screen.scss */
#tab-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 348, ../screen.scss */
#tab-menu a {
  color: #fff;
  height: 100%;
  display: block;
  padding: 0;
  text-align: right;
}
/* line 355, ../screen.scss */
#tab-menu a:hover {
  color: #336699;
}
/* line 359, ../screen.scss */
#tab-menu a span {
  height: 60px;
}
/* line 361, ../screen.scss */
#tab-menu a span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 366, ../screen.scss */
#tab-menu a span.text {
  display: inline-block;
  font-size: 14px;
}
/* line 371, ../screen.scss */
#tab-menu a span.action-hide {
  display: none;
}
/* line 375, ../screen.scss */
#tab-menu a span.action-show {
  display: inline-block;
}

/* line 382, ../screen.scss */
#tab-menu a.on span.action-hide {
  display: inline-block;
}
/* line 386, ../screen.scss */
#tab-menu a.on span.action-show {
  display: none;
}

/* line 397, ../screen.scss */
.region-content {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 412, ../screen.scss */
#top {
  background: #6699CC;
  height: 60px;
  opacity: 1;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
/* line 422, ../screen.scss */
#top:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 433, ../screen.scss */
#bottom {
  background: #2C2F32;
  background: #6699cc;
  background: #333;
  background: none repeat scroll 0 0 rgba(60, 120, 180, 0.9);
  background: #336699;
  background: #f2f2f2;
  font-size: 14px;
  margin: 0;
  position: fixed;
  opacity: 1;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
/* line 450, ../screen.scss */
#bottom:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 461, ../screen.scss */
#bottom-inner-one {
  display: block;
  height: 40px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  /* line 461, ../screen.scss */
  #bottom-inner-one {
    width: 50%;
    float: left;
    text-align: left;
  }
}

/* line 476, ../screen.scss */
#bottom-inner-two {
  display: none;
  height: 0;
  position: relative;
  text-align: center;
  visibility: hidden;
}

/* line 484, ../screen.scss */
#sceneAssets {
  height: 0;
  overflow: hidden;
}

/* line 493, ../screen.scss */
#sb-container {
  margin: 4px 0;
  top: 6%;
}

/* line 504, ../screen.scss */
.tab.show {
  display: block;
  left: 0;
}

/* line 509, ../screen.scss */
.tab {
  background: #FFF;
  display: none;
  height: 100%;
  left: -100%;
  padding-top: 120px;
  position: absolute;
  width: 100%;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 521, ../screen.scss */
.tabContent {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
}

/* line 527, ../screen.scss */
.tabContent .left, .tabContent .right {
  overflow: hidden;
  width: 45%;
}

/* line 536, ../screen.scss */
.tab-close {
  position: absolute;
  top: 10%;
  right: 20%;
  text-transform: uppercase;
}

/* line 549, ../screen.scss */
#panelContainer {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 558, ../screen.scss */
#panelContainer .loading-icon {
  font-family: fontello;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: -200px;
  opacity: 0;
  margin-top: -3em;
  margin-left: -3em;
}
/* line 572, ../screen.scss */
#panelContainer.loading .loading-icon {
  display: block;
  font-family: fontello;
  font-size: 6em;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 900px;
  visibility: visible;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation: rotate 1s infinite linear;
  /* Safari 4+ */
  -moz-animation: rotate 1s infinite linear;
  /* Fx 5+ */
  -o-animation: rotate 1s infinite linear;
  /* Opera 12+ */
  animation: rotate 1s infinite linear;
  /* IE 10+, Fx 29+ */
}

/* line 593, ../screen.scss */
#panelContainer .panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: -100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  position: absolute;
}
/* line 601, ../screen.scss */
#panelContainer .panel > .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 608, ../screen.scss */
#panelContainer .panel.active {
  left: 0;
  overflow-y: visible;
  width: 100%;
}

/* line 614, ../screen.scss */
.panelControl {
  color: #fff;
  display: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

/* line 631, ../screen.scss */
.breadcrumb {
  background: #f2f2f2;
  color: #336699;
  font-size: 12px;
  padding: 0 30px;
  text-transform: uppercase;
  clear: both;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 643, ../screen.scss */
.breadcrumb a, .breadcrumb a:visited {
  color: #6699cc;
  font-weight: 400;
}

/* line 649, ../screen.scss */
.breadcrumb .sep {
  float: none;
  font-family: "fontello";
}

/* line 654, ../screen.scss */
.breadcrumb span {
  display: inline-block;
  padding-right: 0.25em;
}

/* line 659, ../screen.scss */
.breadcrumb h1 {
  display: inline-block;
}

/* line 669, ../screen.scss */
form label {
  font-weight: 700;
}

/* line 674, ../screen.scss */
input.form-text,
.form-textarea-wrapper textarea.form-textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #888;
  display: block;
  float: none;
  font-size: 1em;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 685, ../screen.scss */
.resizable-textarea .grippie {
  display: none;
}

/* line 689, ../screen.scss */
.form-submit {
  background: #6699cc;
  border: 1px solid #99ccff;
  color: #fff;
  font-family: "Play";
  font-weight: 700;
  padding: 0.25em;
  width: auto;
}

/* line 700, ../screen.scss */
.label {
  padding: 0 0.5em 0 0;
}

/* line 704, ../screen.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 712, ../screen.scss */
.clearfix {
  display: inline-block;
}

/* line 716, ../screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 720, ../screen.scss */
* + html .clearfix {
  height: 1%;
}

/* line 724, ../screen.scss */
.clearfix {
  display: block;
}

/* line 734, ../screen.scss */
#kclstudios-custom-contact-form--2 {
  padding: 15px 30px;
}

/* line 744, ../screen.scss */
.displayImg {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 750, ../screen.scss */
.imageContainer {
  float: right;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 750, ../screen.scss */
  .imageContainer {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
}
/* line 761, ../screen.scss */
.imageContainer img {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
}

/* line 769, ../screen.scss */
.imageContainer .medImg {
  width: 100%;
}

/* line 773, ../screen.scss */
.imageContainer .thumbImg {
  float: left;
  margin: 5% 0 0 5%;
  width: 20%;
}

/* line 805, ../screen.scss */
#readOut {
  color: #00001a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  float: left;
  width: 16.66667%;
  margin-left: 83.33333%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  position: fixed;
  text-align: right;
  top: 60px;
  z-index: 5000;
}
/* line 818, ../screen.scss */
#readOut .inner {
  position: absolute;
  bottom: 0;
}
/* line 823, ../screen.scss */
#readOut div {
  padding: 0 30px 0 0;
}
/* line 827, ../screen.scss */
#readOut p {
  margin: 0;
}

/* line 832, ../screen.scss */
.feedContainer .item-list {
  margin: 1.1em 0;
}

/* line 836, ../screen.scss */
.feedContainer .more-link {
  display: none;
}

/* line 840, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 846, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 852, ../screen.scss */
ul.graphic li {
  margin-bottom: 2px;
}

/* line 856, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_link {
  display: inline-block;
  font-weight: normal;
  padding: 3px 3px 3px 25px;
  text-decoration: none;
  vertical-align: middle;
}
/* line 863, ../screen.scss */
ul.graphic li a:before, ul.graphic li a.sm2_link:before {
  content: "r";
  font-family: "fontello";
}

/* line 869, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_paused:hover, ul.graphic li a.sm2_link:hover {
  background-image: url("img/icon-play.png");
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

/* line 883, ../screen.scss */
ul.graphic li a.sm2_paused:hover {
  background: url("img/icon-play.png") no-repeat scroll 3px 50% transparent;
}

/* line 887, ../screen.scss */
ul.graphic li a.sm2_playing, ul.graphic li a.sm2_playing:hover {
  background: url("img/icon-pause.png") no-repeat scroll 3px 50% transparent;
  text-decoration: none;
}

/* line 891, ../screen.scss */
body #sm2-container object, body #sm2-container embed {
  left: -9999em;
  top: -9999em;
}

/* line 904, ../screen.scss */
#alert-screen {
  background: #6699cc;
  position: absolute;
  left: -100%;
  height: 100%;
  text-align: center;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 915, ../screen.scss */
#alert-screen .inner {
  padding-top: 140px;
  position: relative;
}

/* line 920, ../screen.scss */
form#user-login {
  padding: 2em;
}

/* === Pager Display ==================== */
/* line 926, ../screen.scss */
ul.pager {
  margin: 0 auto;
  text-transform: uppercase;
}

/* line 931, ../screen.scss */
.item-list ul.pager li {
  display: block;
  float: left;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0;
}

/* line 938, ../screen.scss */
ul.pager li a:link, ul.pager li a:visited {
  background: none #6699CC;
  border: 1px solid #6699cc;
  color: #FFF;
  display: block;
  padding: 0.5em 1em;
}

/* line 946, ../screen.scss */
ul.pager li a:hover {
  border: 1px solid #ee6600;
}

/* line 950, ../screen.scss */
ul.pager li.pager-current {
  background: none transparent;
  border: 1px solid #BBB;
  color: #BBB;
  padding: 0.5em 1em;
}

/* line 959, ../screen.scss */
.icon {
  font-family: "fontello";
}

/* line 963, ../screen.scss */
.curr {
  display: block;
}
