/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 16, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 26, ../components/_base.scss */
a:hover {
  color: #6699CC;
}

/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 16, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 26, ../components/_base.scss */
a:hover {
  color: #6699CC;
}

/* line 5, ../components/menu.scss */
#main-menu {
  height: 60px;
  padding-left: 380px;
  padding-right: 180px;
  position: fixed;
  top: 0;
  font-size: 17px;
  width: 100%;
  z-index: 1000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 5, ../components/menu.scss */
  #main-menu {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    top: 60px;
  }
}
@media (max-width: 960px) {
  /* line 5, ../components/menu.scss */
  #main-menu {
    position: absolute;
    top: 60px;
  }
}

/* line 29, ../components/menu.scss */
#main-menu > ul {
  background-color: #336699;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1px;
  position: relative;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 29, ../components/menu.scss */
  #main-menu > ul {
    display: none;
  }
}
/* line 42, ../components/menu.scss */
#main-menu > ul > li.first {
  display: none;
}
/* line 50, ../components/menu.scss */
#main-menu > ul li {
  display: block;
  height: 100%;
  list-style: none;
  float: left;
  font-weight: 700;
  margin: 0;
  padding: 0 1px 2px 0;
  padding: 0 1px 0 0;
  padding: 4px 1px;
  position: relative;
  text-transform: uppercase;
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  /* line 50, ../components/menu.scss */
  #main-menu > ul li {
    float: none;
    padding: 0;
    width: auto;
  }
}
/* line 76, ../components/menu.scss */
#main-menu > ul li:hover a:hover {
  background-color: #336699;
  background-color: #6699cc;
  border-color: #99ccff;
}
/* line 87, ../components/menu.scss */
#main-menu > ul li.on > ul {
  display: block;
  left: 0;
  opacity: 1;
  position: relative;
}
/* line 94, ../components/menu.scss */
#main-menu > ul li.on li {
  float: none;
}
/* line 98, ../components/menu.scss */
#main-menu > ul li.on a {
  background: #112233;
}
/* line 102, ../components/menu.scss */
#main-menu > ul li.on .li-expand {
  opacity: 1;
}
/* line 109, ../components/menu.scss */
#main-menu > ul li a {
  color: #FFFFFF;
  border: 1px solid transparent;
  transition: border 200ms;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 117, ../components/menu.scss */
#main-menu > ul li > a {
  background-color: #4876a3;
  display: block;
  height: 100%;
  padding: 18px 0 0 1em;
  transition: background-color 200ms;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 117, ../components/menu.scss */
  #main-menu > ul li > a {
    padding: 7px 0 0 1em;
  }
}
/* line 138, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand {
  color: #ddeeff;
  cursor: pointer;
  display: block;
  font-family: "fontello";
  font-size: 28px;
  height: 40px;
  line-height: 20px;
  opacity: 0.3;
  padding: 10px;
  position: absolute;
  text-transform: none;
  top: 10px;
  right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  /* line 138, ../components/menu.scss */
  #main-menu > ul li.expanded .li-expand {
    height: 20px;
    padding: 0 6px;
  }
}
/* line 160, ../components/menu.scss */
#main-menu > ul li.expanded .li-expand:hover {
  color: #ddeeff;
  opacity: 1;
}
/* line 168, ../components/menu.scss */
#main-menu > ul li ul {
  opacity: 0;
  position: absolute;
  left: -20000px;
  transition: opacity 0.2s;
}
/* line 176, ../components/menu.scss */
#main-menu > ul li li {
  border: 0 none;
  float: none !important;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  width: 100%;
}
/* line 185, ../components/menu.scss */
#main-menu > ul li li a {
  font-weight: 400;
  padding: 1em;
}

/* line 201, ../components/menu.scss */
.li-expand .close {
  display: none;
}

/* line 208, ../components/menu.scss */
li.on > .li-expand .close {
  display: block;
}
/* line 212, ../components/menu.scss */
li.on > .li-expand .open {
  display: none;
}

@media (max-width: 960px) {
  /* line 229, ../components/menu.scss */
  #main-menu.on {
    top: 60px;
  }
  /* line 234, ../components/menu.scss */
  #main-menu.on ul {
    display: block;
    height: auto;
  }
  /* line 239, ../components/menu.scss */
  #main-menu.on li {
    float: none;
  }
}

/* line 250, ../components/menu.scss */
#main-menu-mobile-toggle {
  top: 15px;
  cursor: pointer;
  display: none;
  font-size: 11px;
  left: 20px;
  position: absolute;
  width: 200px;
  z-index: 2000;
}
@media (max-width: 960px) {
  /* line 250, ../components/menu.scss */
  #main-menu-mobile-toggle {
    display: block;
  }
}
/* line 264, ../components/menu.scss */
#main-menu-mobile-toggle .icon {
  font-size: 36px;
  line-height: 30px;
}

/* line 270, ../components/menu.scss */
#main-menu-mobile-toggle {
  color: #fff;
  padding: 0 3em 0 0;
}
/* line 274, ../components/menu.scss */
#main-menu-mobile-toggle:hover {
  color: #336699;
}
/* line 278, ../components/menu.scss */
#main-menu-mobile-toggle span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 283, ../components/menu.scss */
#main-menu-mobile-toggle span.text {
  display: inline-block;
  font-size: 14px;
  left: 4px;
  position: relative;
  top: -10px;
}
/* line 291, ../components/menu.scss */
#main-menu-mobile-toggle span.action-hide {
  display: none;
}
/* line 295, ../components/menu.scss */
#main-menu-mobile-toggle span.action-show {
  display: inline-block;
}

/* line 302, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-hide {
  display: inline-block;
}
/* line 306, ../components/menu.scss */
#main-menu-mobile-toggle.on span.action-show {
  display: none;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 16, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 26, ../components/_base.scss */
a:hover {
  color: #6699CC;
}

/* line 12, ../components/node.scss */
.node-back {
  background: #EEEEEE;
  background: rgba(238, 238, 238, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

/* line 28, ../components/node.scss */
.node-headline {
  height: 100%;
  position: fixed;
  top: 0;
  width: 45%;
}
/* line 34, ../components/node.scss */
.node-headline .field-name-field-fancy-headline {
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
/* line 39, ../components/node.scss */
.node-headline .field-items {
  display: table-cell;
}

/* line 44, ../components/node.scss */
.node-headline {
  color: #FFFFFF;
  font-size: 60px;
  font-size: 3vw;
  height: 100%;
  line-height: 1;
  padding: 120px 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 53, ../components/node.scss */
.node-headline .field {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 59, ../components/node.scss */
.node-headline .field-items {
  display: table-cell;
  vertical-align: middle;
}

/* line 69, ../components/node.scss */
.node-title {
  position: relative;
}

/* line 73, ../components/node.scss */
.field-item ul {
  margin-bottom: 15px;
}

/* line 77, ../components/node.scss */
.field-name-field-drophead {
  font-size: 25px;
  padding: 15px 30px 0;
  position: relative;
}

/* line 83, ../components/node.scss */
.field-name-body {
  padding: 0 30px;
  position: relative;
}

/* line 88, ../components/node.scss */
.field-name-field-display-img {
  position: relative;
}
/* line 91, ../components/node.scss */
.field-name-field-display-img img {
  display: block;
}

/* line 96, ../components/node.scss */
.field-name-field-image {
  position: relative;
}
/* line 99, ../components/node.scss */
.field-name-field-image img {
  display: block;
}

/* line 104, ../components/node.scss */
.field-name-field-node-links {
  position: relative;
}
/* line 107, ../components/node.scss */
.field-name-field-node-links img {
  display: block;
}
/* line 111, ../components/node.scss */
.field-name-field-node-links .field-item {
  background: rgba(255, 255, 255, 0.8);
  margin: 15px 0;
  position: relative;
}
/* line 119, ../components/node.scss */
.field-name-field-node-links a {
  display: block;
  font-size: 28px;
  font-weight: 700;
  padding: 15px 15px 15px 80px;
}
/* line 125, ../components/node.scss */
.field-name-field-node-links a:before {
  background: none repeat scroll 0 0 #336699;
  color: #fff;
  content: "r";
  display: block;
  font-family: "fontello";
  font-size: 60px;
  left: 0;
  padding: 2px 20px 2px 25px;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 142, ../components/node.scss */
.node-section-field-headline {
  overflow: hidden;
  position: relative;
}

/* line 152, ../components/node.scss */
.node-section-field-display-img {
  position: relative;
}

/* line 171, ../components/node.scss */
.node-full {
  clear: both;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 181, ../components/node.scss */
.node-full .node-breadcrumb {
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  position: fixed;
  top: 60px;
}
@media (min-width: 960px) and (max-width: 1280px) {
  /* line 181, ../components/node.scss */
  .node-full .node-breadcrumb {
    top: 100px;
  }
}
/* line 194, ../components/node.scss */
.node-full .node-field-display-img {
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 199, ../components/node.scss */
.node-full .node-section-field-headline {
  overflow: hidden;
  position: relative;
}
/* line 203, ../components/node.scss */
.node-full .node-section-field-headline .field-name-field-headline {
  font-size: 44px;
  line-height: 1;
  padding: 30px 30px 15px;
  position: relative;
}
@media (max-width: 1280px) {
  /* line 203, ../components/node.scss */
  .node-full .node-section-field-headline .field-name-field-headline {
    font-size: 36px;
  }
}
/* line 215, ../components/node.scss */
.node-full > .node-section-field-display-img {
  position: relative;
}
/* line 219, ../components/node.scss */
.node-full > .node-section-content {
  position: relative;
  overflow: hidden;
}
/* line 226, ../components/node.scss */
.node-full .node-content {
  position: relative;
  overflow: hidden;
  width: 45%;
  margin-left: 55%;
}
/* line 241, ../components/node.scss */
.node-full .node-content .field-name-field-drophead p:first-child {
  margin-top: 0;
}
/* line 245, ../components/node.scss */
.node-full .node-content > .node-back {
  margin-left: 55%;
  width: 45%;
}
/* line 251, ../components/node.scss */
.node-full .node-content > .node-section-content {
  position: relative;
}
/* line 255, ../components/node.scss */
.node-full .node-content > .node-section-field-image {
  position: relative;
  width: 45%;
  position: relative;
  float: right;
}
/* line 263, ../components/node.scss */
.node-full .node-content > .node-section-children {
  padding-left: 0;
  padding-right: 0;
  clear: both;
  padding: 0;
  position: relative;
  left: 5px;
}
/* line 271, ../components/node.scss */
.node-full .node-content > .node-section-children .row {
  float: left;
  margin: 30px 0;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 277, ../components/node.scss */
.node-full .node-content > .node-section-children .row.even {
  padding: 0 10px;
}
/* line 281, ../components/node.scss */
.node-full .node-content > .node-section-children .row.odd {
  padding: 0 10px;
}
/* line 294, ../components/node.scss */
.node-full .node-content > .node-section-views {
  clear: both;
}
/* line 298, ../components/node.scss */
.node-full .node-content > .node-section-views .views-row {
  float: left;
  margin-top: 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 1280px) {
  /* line 298, ../components/node.scss */
  .node-full .node-content > .node-section-views .views-row {
    float: none;
    width: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 315, ../components/node.scss */
.node-full .node-section-field-node-links {
  padding: 0 30px;
  clear: left;
}
/* line 319, ../components/node.scss */
.node-full .node-section-field-node-links .row {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 33%;
}
/* line 325, ../components/node.scss */
.node-full .node-section-field-node-links .row.even {
  margin: 20px 0;
}
/* line 329, ../components/node.scss */
.node-full .node-section-field-node-links .row.odd {
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1280px) {
  /* line 319, ../components/node.scss */
  .node-full .node-section-field-node-links .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* line 356, ../components/node.scss */
.node-full.node-align-left > .node-back {
  margin: 0 0 0 55%;
  width: 45%;
}
/* line 381, ../components/node.scss */
.node-full.node-align-right > .node-back {
  margin: 0 0 0 55%;
  width: 45%;
}

/* line 396, ../components/node.scss */
.pubDate {
  font-size: 14px;
  padding: 0 10px 10px;
}

/* line 401, ../components/node.scss */
.node-teaser {
  color: #282833;
  position: relative;
  margin: 1em 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 407, ../components/node.scss */
.node-teaser .node-back {
  background: #e2e2e2;
  background: rgba(255, 255, 255, 0.8);
}
/* line 412, ../components/node.scss */
.node-teaser .node-teaser-img {
  float: left;
  width: 20%;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 422, ../components/node.scss */
.node-teaser .node-content {
  clear: initial;
  width: 80%;
  float: right;
  margin: 0;
}
/* line 429, ../components/node.scss */
.node-teaser .node-field-title {
  padding: 20px 10px 0;
}
/* line 432, ../components/node.scss */
.node-teaser .node-field-title:before {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
/* line 444, ../components/node.scss */
.node-teaser .field-name-teaser-img {
  position: relative;
  width: 100%;
  border: 3px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 451, ../components/node.scss */
.node-teaser .field-name-body {
  padding: 0 10px;
  position: relative;
}
/* line 465, ../components/node.scss */
.node-teaser .node-title {
  font-size: 1.5em;
}
/* line 469, ../components/node.scss */
.node-teaser p {
  margin: 0 0 1.5em;
}
/* line 475, ../components/node.scss */
.node-teaser img {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 489, ../components/node.scss */
.node-scrape {
  overflow: hidden;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 494, ../components/node.scss */
.node-scrape .node-teaser-img {
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 499, ../components/node.scss */
.node-scrape .node-field-title {
  position: relative;
  padding: 0 15px 15px;
}
/* line 504, ../components/node.scss */
.node-scrape .node-title {
  padding-top: 15px;
  text-align: center;
}
/* line 509, ../components/node.scss */
.node-scrape .node-title a:before {
  content: "d";
  display: block;
  font-family: "fontello";
  left: 0;
  background: #336699;
  color: #fff;
  margin-bottom: 8px;
  top: 0;
  width: 100%;
  height: 1em;
}
/* line 526, ../components/node.scss */
.node-scrape .field-name-body {
  padding: 0 15px 1px;
}
/* line 530, ../components/node.scss */
.node-scrape .node-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 536, ../components/node.scss */
.node-scrape .field-name-teaser-img {
  box-sizing: border-box;
  position: relative;
}
/* line 541, ../components/node.scss */
.node-scrape .field-name-teaser-img img {
  width: 300px;
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
@media (max-width: 960px) {
  /* line 557, ../components/node.scss */
  .node-scrape .field-name-field-headline {
    text-align: center;
  }
}

/* line 588, ../components/node.scss */
.node-teaser .icon {
  font-size: 2em;
  text-align: center;
}

/* line 595, ../components/node.scss */
.node-scrape .icon {
  font-size: 40px;
  margin-top: -20px;
}

/* line 607, ../components/node.scss */
.node-teaser.node-article {
  clear: both;
  float: none;
}

/* line 624, ../components/node.scss */
.node-full.has-field-display-img {
  padding-top: 0;
}

/* line 634, ../components/node.scss */
.menu-custom-siblings-menu {
  background: none white;
  padding-left: 25px;
  float: left;
}
/* line 639, ../components/node.scss */
.menu-custom-siblings-menu a {
  background: none #6699CC;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #6699cc;
  margin: 0 5px 0 0;
  position: relative;
}
/* line 649, ../components/node.scss */
.menu-custom-siblings-menu a:hover {
  background: none #336699;
  border-color: #336699;
}
/* line 654, ../components/node.scss */
.menu-custom-siblings-menu span {
  display: none;
}
/* line 658, ../components/node.scss */
.menu-custom-siblings-menu a:hover span {
  display: block;
  left: -1px;
  position: absolute;
  top: 22px;
  padding: 0.5em;
  width: 33%;
}
/* line 669, ../components/node.scss */
.menu-custom-siblings-menu .prev {
  background: none transparent;
  border: 0 none;
  left: 0;
  position: absolute;
}
/* line 676, ../components/node.scss */
.menu-custom-siblings-menu .next {
  background: none transparent;
  border: 0 none;
  position: absolute;
  right: 0;
}
/* line 683, ../components/node.scss */
.menu-custom-siblings-menu .active,
.menu-custom-siblings-menu .active:hover {
  background: #DDDDDD;
  border-color: #DDDDDD;
}
/* line 689, ../components/node.scss */
.menu-custom-siblings-menu .active:hover span {
  display: none;
}

/* line 700, ../components/node.scss */
.prev-link {
  color: white;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

/* line 709, ../components/node.scss */
.next-link {
  color: white;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}

@media (max-width: 1280px) {
  /* line 723, ../components/node.scss */
  .node-section-field-headline {
    font-size: 30px;
  }
}

/* line 739, ../components/node.scss */
.node.node-light-on-dark {
  color: white;
}
/* line 742, ../components/node.scss */
.node.node-light-on-dark .node-back {
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0.85);
}

/* line 753, ../components/node.scss */
#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 767, ../components/node.scss */
#panelContainer .content-static.active {
  left: 0;
  opacity: 1;
}

/* line 776, ../components/node.scss */
#panelContainer .content-dynamic.active {
  left: 0;
  opacity: 1;
}

/* line 784, ../components/node.scss */
.node-article.node-full .node-back {
  display: none;
}
/* line 788, ../components/node.scss */
.node-article.node-full .field-name-field-display-img {
  padding: 15px 30px;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello/font/fontello.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/fontello/font/fontello.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontello/font/fontello.woff") format("woff"), url("../../fonts/fontello/font/fontello.ttf") format("truetype"), url("../../fonts/fontello/font/fontello.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
/* line 16, ../components/_base.scss */
a,
a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  transition: color 0.3s;
}

/* line 26, ../components/_base.scss */
a:hover {
  color: #6699CC;
}

@-webkit-keyframes rotate {
  /* line 18, ../components/animation.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 21, ../components/animation.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  /* line 26, ../components/animation.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 29, ../components/animation.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  /* line 34, ../components/animation.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 37, ../components/animation.scss */
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  /* line 42, ../components/animation.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 45, ../components/animation.scss */
  to {
    transform: rotate(360deg);
  }
}
/* line 51, ../components/animation.scss */
#scene-container {
  opacity: 1;
  transition: opacity 1s;
}
/* line 55, ../components/animation.scss */
#scene-container.loading {
  opacity: 0;
}

/* line 65, ../components/animation.scss */
.content-dynamic .node-back,
.content-static .node-back {
  left: 2500px;
  transition: left 1s;
}

/* line 71, ../components/animation.scss */
.content-dynamic.active .node-back,
.content-static.active .node-back {
  left: 0;
}

/* line 17, ../screen.scss */
* {
  margin: 0;
  outline: 0 none;
  padding: 0;
}

/* line 23, ../screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 28, ../screen.scss */
body {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #112233;
  font-family: "Play","TitilliumMaps",helvetica,arial,sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

/* line 40, ../screen.scss */
img {
  margin: 0;
  padding: 0;
}

/* line 45, ../screen.scss */
pre {
  background: #6699cc;
  border: 0px dotted #fff;
  margin: 1em 0;
  padding: 2em 0.5em;
}

/* line 58, ../screen.scss */
a.on,
a.on:hover {
  color: #525456 !important;
  text-shadow: none !important;
}

/* line 64, ../screen.scss */
.tab a:link, .tab a:visited {
  color: #99ccff;
}

/* line 68, ../screen.scss */
.tab a:hover {
  color: #336699;
}

/* line 72, ../screen.scss */
.tab .form-submit {
  color: #99ccff;
  border-color: #99ccff;
}

/* line 77, ../screen.scss */
a img {
  border: medium none;
}

/* line 81, ../screen.scss */
p {
  margin: 0 0 30px 0;
}

/* line 85, ../screen.scss */
ul {
  margin-left: 0;
  padding: 0;
  margin: 0;
}

/* line 91, ../screen.scss */
li {
  list-style-type: square;
  margin: 0 0 0 1em;
  padding: 0 0 1em;
}

/* line 97, ../screen.scss */
.right {
  float: right;
}

/* line 101, ../screen.scss */
.left {
  float: left;
}

/* line 105, ../screen.scss */
.clear {
  clear: both;
}

/* line 109, ../screen.scss */
.ghost {
  display: none !important;
}

/* line 113, ../screen.scss */
.breadcrumb-0 {
  margin-right: 2px;
  font-size: 14px;
  font-family: "fontello";
  text-transform: none;
}

/* line 126, ../screen.scss */
#screen {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 60px 0 0;
  transition: background-color 3s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 134, ../screen.scss */
#screen #screen-frame {
  border-top: 25px solid #FFF;
  border-right: 20px solid #FFF;
  border-bottom: 40px solid #FFF;
  border-left: 20px solid #FFF;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 144, ../screen.scss */
#screen.loading {
  background-color: #993300;
  transition: background-color 3s;
}

/* line 150, ../screen.scss */
.ajax-progress .throbber {
  height: 25px;
  width: 100%;
}

/* line 156, ../screen.scss */
h1 {
  font-size: 2em;
  line-height: 1em;
}

/* line 161, ../screen.scss */
h2 {
  font-size: 1em;
}

/* line 165, ../screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 169, ../screen.scss */
#readOut {
  font-size: 0.5em;
}

/* line 175, ../screen.scss */
.field-name-field-headline {
  font-weight: 700;
}

/* line 179, ../screen.scss */
.front #siteName {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
}

/* line 186, ../screen.scss */
.front #pageContent {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
  top: 3%;
}

/* line 194, ../screen.scss */
#outer {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 204, ../screen.scss */
#scene-container {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-height: 2500px;
  max-width: 2500px;
  margin: 0 auto;
}

/* line 214, ../screen.scss */
#scene {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 225, ../screen.scss */
div.scene-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 234, ../screen.scss */
img.scene-layer {
  position: absolute;
}

/* line 238, ../screen.scss */
#matte {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 247, ../screen.scss */
#matte img {
  height: 100%;
  width: 100%;
}

/* line 252, ../screen.scss */
.trans {
  background: none #d8e5f2;
  bottom: 0;
  height: 100%;
  filter: alpha(opacity=15);
  -moz-opacity: 0.15;
  -khtml-opacity: 0.15;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 263, ../screen.scss */
.hover .trans {
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  opacity: 0.35;
}

/* line 267, ../screen.scss */
.active .trans {
  background: none #000;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 272, ../screen.scss */
.tab .trans {
  background: none repeat scroll 0 0 #d8e5f2;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

/* line 281, ../screen.scss */
#site-logo {
  display: block;
  left: 40px;
  padding: 7px;
  position: absolute;
  width: 302px;
  z-index: 5000;
}
@media (max-width: 1280px) {
  /* line 281, ../screen.scss */
  #site-logo {
    left: initial;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
}

/* line 297, ../screen.scss */
#site-logo img {
  height: 46px;
  width: 302px;
}

/* line 302, ../screen.scss */
#status {
  position: absolute;
  bottom: 7px;
  height: 2em;
  left: 33%;
  text-align: center;
  width: 33%;
}

/* line 311, ../screen.scss */
#tab-menu {
  height: 60px;
  right: 20px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 200px;
  z-index: 1001;
}

/* line 321, ../screen.scss */
#tab-menu li {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 328, ../screen.scss */
#tab-menu a {
  color: #fff;
  height: 100%;
  display: block;
  padding: 0;
  text-align: right;
}
/* line 335, ../screen.scss */
#tab-menu a:hover {
  color: #336699;
}
/* line 339, ../screen.scss */
#tab-menu a span {
  height: 60px;
}
/* line 341, ../screen.scss */
#tab-menu a span.icon {
  display: inline-block;
  font-size: 40px;
}
/* line 346, ../screen.scss */
#tab-menu a span.text {
  display: inline-block;
  font-size: 14px;
}
/* line 351, ../screen.scss */
#tab-menu a span.action-hide {
  display: none;
}
/* line 355, ../screen.scss */
#tab-menu a span.action-show {
  display: inline-block;
}

/* line 362, ../screen.scss */
#tab-menu a.on span.action-hide {
  display: inline-block;
}
/* line 366, ../screen.scss */
#tab-menu a.on span.action-show {
  display: none;
}

/* line 377, ../screen.scss */
#top {
  background: #c0d9f3;
  background: none repeat scroll 0 0 rgba(60, 120, 180, 0.9);
  background: #336699;
  height: 60px;
  opacity: 1;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
/* line 390, ../screen.scss */
#top:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 401, ../screen.scss */
#bottom {
  background: #2C2F32;
  background: #6699cc;
  background: #333;
  background: none repeat scroll 0 0 rgba(60, 120, 180, 0.9);
  background: #336699;
  border-top: 20px solid #FFFFFF;
  font-size: 14px;
  margin: 0;
  position: fixed;
  opacity: 1;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
/* line 418, ../screen.scss */
#bottom:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 429, ../screen.scss */
#bottom-inner-one {
  display: block;
  height: 40px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 438, ../screen.scss */
#bottom-inner-two {
  display: none;
  height: 0;
  position: relative;
  text-align: center;
  visibility: hidden;
}

/* line 446, ../screen.scss */
#sceneAssets {
  height: 0;
  overflow: hidden;
}

/* line 451, ../screen.scss */
#screen {
  background: none transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 465, ../screen.scss */
#sb-container {
  margin: 4px 0;
  top: 6%;
}

/* line 476, ../screen.scss */
.tab.show {
  display: block;
  left: 0;
}

/* line 481, ../screen.scss */
.tab {
  background: #FFF;
  display: none;
  height: 100%;
  left: -100%;
  padding-top: 120px;
  position: absolute;
  width: 100%;
  z-index: 999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 493, ../screen.scss */
.tabContent {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
}

/* line 499, ../screen.scss */
.tabContent .left, .tabContent .right {
  overflow: hidden;
  width: 45%;
}

/* line 507, ../screen.scss */
.block-webform .webform-client-form {
  width: 100%;
}

/* line 511, ../screen.scss */
.tab-close {
  position: absolute;
  top: 10%;
  right: 20%;
  text-transform: uppercase;
}

/* line 524, ../screen.scss */
#panelContainer {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 533, ../screen.scss */
#panelContainer .loading-icon {
  font-family: fontello;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: -200px;
  opacity: 0;
  margin-top: -3em;
  margin-left: -3em;
}
/* line 547, ../screen.scss */
#panelContainer.loading .loading-icon {
  display: block;
  font-family: fontello;
  font-size: 6em;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 900px;
  visibility: visible;
  margin-top: -0.5em;
  margin-left: -0.5em;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation: rotate 1s infinite linear;
  /* Safari 4+ */
  -moz-animation: rotate 1s infinite linear;
  /* Fx 5+ */
  -o-animation: rotate 1s infinite linear;
  /* Opera 12+ */
  animation: rotate 1s infinite linear;
  /* IE 10+, Fx 29+ */
}

/* line 568, ../screen.scss */
#panelContainer .panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: -100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  position: absolute;
}
/* line 576, ../screen.scss */
#panelContainer .panel > .container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/* line 583, ../screen.scss */
#panelContainer .panel.active {
  left: 0;
  overflow-y: visible;
  width: 100%;
}

/* line 589, ../screen.scss */
.panelControl {
  color: #fff;
  display: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

/* line 606, ../screen.scss */
.breadcrumb {
  background: none repeat scroll 0 0 white;
  font-size: 14px;
  padding: 5px 30px;
  text-transform: uppercase;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  clear: left;
}
/* line 616, ../screen.scss */
.breadcrumb a, .breadcrumb a:visited {
  color: #6699cc;
  font-weight: 400;
}

/* line 622, ../screen.scss */
.breadcrumb .sep {
  float: none;
  font-family: "fontello";
}

/* line 627, ../screen.scss */
.breadcrumb span {
  display: inline-block;
  padding-right: 0.25em;
}

/* line 632, ../screen.scss */
.breadcrumb h1 {
  display: inline-block;
}

/* line 643, ../screen.scss */
form label {
  font-weight: 700;
}

/* line 647, ../screen.scss */
input.form-text,
.form-textarea-wrapper textarea.form-textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #888;
  display: block;
  float: none;
  font-size: 1em;
  padding: 2px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 659, ../screen.scss */
.resizable-textarea .grippie {
  display: none;
}

/* line 663, ../screen.scss */
.form-submit {
  background: #6699cc;
  border: 1px solid #99ccff;
  color: #fff;
  font-family: "Play";
  font-weight: 700;
  padding: 0.25em;
  width: auto;
}

/* line 674, ../screen.scss */
.label {
  padding: 0 0.5em 0 0;
}

/* line 678, ../screen.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 686, ../screen.scss */
.clearfix {
  display: inline-block;
}

/* line 690, ../screen.scss */
* html .clearfix {
  height: 1%;
}

/* line 694, ../screen.scss */
* + html .clearfix {
  height: 1%;
}

/* line 698, ../screen.scss */
.clearfix {
  display: block;
}

/* line 711, ../screen.scss */
.displayImg {
  display: block;
  margin: 0;
  width: 100%;
}

/* line 717, ../screen.scss */
.imageContainer {
  float: right;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  /* line 717, ../screen.scss */
  .imageContainer {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
}
/* line 729, ../screen.scss */
.imageContainer img {
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #fff;
}

/* line 737, ../screen.scss */
.imageContainer .medImg {
  width: 100%;
}

/* line 741, ../screen.scss */
.imageContainer .thumbImg {
  float: left;
  margin: 5% 0 0 5%;
  width: 20%;
}

/* line 773, ../screen.scss */
#readOut {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  width: 16.66667%;
  margin-left: 83.33333%;
  margin-right: -100%;
  padding-left: 0;
  padding-right: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 14px;
  height: 70px;
  position: absolute;
  text-align: right;
  top: 65px;
  z-index: 5000;
}
/* line 784, ../screen.scss */
#readOut .inner {
  position: absolute;
  bottom: 0;
}
/* line 789, ../screen.scss */
#readOut div {
  padding: 0 30px 0 0;
}
/* line 793, ../screen.scss */
#readOut p {
  margin: 0;
}

/* line 798, ../screen.scss */
.feedContainer .item-list {
  margin: 1.1em 0;
}

/* line 802, ../screen.scss */
.feedContainer .more-link {
  display: none;
}

/* line 806, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 812, ../screen.scss */
ul.graphic {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 818, ../screen.scss */
ul.graphic li {
  margin-bottom: 2px;
}

/* line 822, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_link {
  display: inline-block;
  font-weight: normal;
  padding: 3px 3px 3px 25px;
  text-decoration: none;
  vertical-align: middle;
}
/* line 829, ../screen.scss */
ul.graphic li a:before, ul.graphic li a.sm2_link:before {
  content: "r";
  font-family: "fontello";
}

/* line 835, ../screen.scss */
ul.graphic li a, ul.graphic li a.sm2_paused:hover, ul.graphic li a.sm2_link:hover {
  background-image: url("img/icon-play.png");
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

/* line 849, ../screen.scss */
ul.graphic li a.sm2_paused:hover {
  background: url("img/icon-play.png") no-repeat scroll 3px 50% transparent;
}

/* line 853, ../screen.scss */
ul.graphic li a.sm2_playing, ul.graphic li a.sm2_playing:hover {
  background: url("img/icon-pause.png") no-repeat scroll 3px 50% transparent;
  text-decoration: none;
}

/* line 857, ../screen.scss */
body #sm2-container object, body #sm2-container embed {
  left: -9999em;
  top: -9999em;
}

/* line 870, ../screen.scss */
#alert-screen {
  position: absolute;
  left: -100%;
  height: 100%;
  text-align: center;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 881, ../screen.scss */
#alert-screen .inner {
  padding-top: 140px;
  position: relative;
}

/* line 886, ../screen.scss */
form#user-login {
  padding: 2em;
}

/* === Pager Display ==================== */
/* line 892, ../screen.scss */
ul.pager {
  margin: 0 auto;
  text-transform: uppercase;
}

/* line 897, ../screen.scss */
.item-list ul.pager li {
  display: block;
  float: left;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0;
}

/* line 904, ../screen.scss */
ul.pager li a:link, ul.pager li a:visited {
  background: none #6699CC;
  border: 1px solid #6699cc;
  color: #FFF;
  display: block;
  padding: 0.5em 1em;
}

/* line 912, ../screen.scss */
ul.pager li a:hover {
  border: 1px solid #ee6600;
}

/* line 916, ../screen.scss */
ul.pager li.pager-current {
  background: none transparent;
  border: 1px solid #BBB;
  color: #BBB;
  padding: 0.5em 1em;
}

/* line 925, ../screen.scss */
.icon {
  font-family: "fontello";
}

/* line 929, ../screen.scss */
.curr {
  display: block;
}
