
$blue-dark-2: #282833;
$blue: #336699;
$blue-dark: #112233;
$blue-light-1: #6699CC;
$blue-light-2: #99CCFF;
$blue-light-3: #CCEEFF;
$blue-light-variant: #D8E5F2;
$white: #FFF;


@import "compass/css3";
@import "compass/reset";
@import "fonts.scss";


a:link,
a:visited {
  cursor: pointer;
  color: #336699;
  outline: medium none;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}





