$blue-light-7: #E6FFFF;
$blue-light-6: #CCFFFF;
$blue-light-5: #B2E5FF;
$blue-light-4: #99CCFF;
$blue-light-3: #80B3E6;
$blue-light-2: #6699CC;
$blue-light-1: #4D80B3;
$blue: #336699;
$blue-dark-1: #1A4D80;
$blue-dark-2: #003366;
$blue-dark-3: #001A4D;
$blue-dark-4: #000033;
$blue-dark-5: #00001A;

$white: #F1F3F6;

$alt-text-color: $blue-dark-5;

@import "compass/css3";
@import "compass/reset";
@import "fonts.scss";

a,
a:link,
a:visited {
  cursor: pointer;
  color: #6699CC;
  outline: medium none;
  text-decoration: none; 
  transition: color 0.3s;
}

a:hover {
  color: #99CCFF;
}





