/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "components/base";
@import "compass/css3/box-sizing";
@import "zen";
@import "zen/background";


.node-back { 
  background: #101010;
  background: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  bottom: 0; 
  height: 100%;
  width: 100%;
}  


.node-sibling-menu {
  position: fixed;
  bottom: 33px;
  text-align: center;
  width: 100%;
  z-index: 1002;
}



//
// Fancy headline treatment
//

.node-inner-one { 
  color: #FFFFFF;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
  //padding-right: 20px;
  //padding-left: 20px;
  position: relative;
  width: 100%; 
  @include box-sizing(border-box);
  
  @media (min-width: 1400px) {
    width: 50%;
   }   
  
  .field-name-field-headline { 
    bottom: 0;  
    font-weight: 700;
    padding-right: 30%;
    position: absolute;
    left: 25%;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    width: 50%;
    
    p {
    //  display: block;
    //  background:rgba(0,0,0,0.9);
    //  margin: 0;
    //  padding: 15px 30px 5px;
    }    
    .field-item {
      display: block;
      background:rgba(0,0,0,0.9);
      margin: 0;
      padding: 15px 30px 5px;
    }    
  }
} 


//
// Fields
//

.node-title {
  position: relative;
}  

.field-item ul {
  margin-bottom: 15px;
}

.field-name-field-drophead {
  font-size: 25px;
  padding: 15px 30px 0;
  position: relative;
}

.field-name-body { 
  padding: 0 30px;
  position: relative;  
}

.field-name-field-display-img {
  position: relative;  
  
  img {
    display: block;
  }  
}

.field-name-field-image {
  position: relative;  
  
  img {
    display: block;
  }  
}

.field-name-field-node-links {
  position: relative;  
  
  img {
    display: block;
  } 
  
  .field-item {
    background: rgba(0,0,0,0.9);
    margin: 10px 0;
    position: relative;    
  }
  
  a {
    display: block;
    font-size: 28px;
    font-weight: 700;
    padding: 15px 15px 15px 80px;
    
    &:before {
      background: none repeat scroll 0 0 #336699;
      color: #fff;
      content: "r";
      display: block;
      font-family: "fontello";
      font-size: 60px;
      left: 0;
      padding: 2px 20px 2px 25px;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}


  .node-section-field-headline {
    overflow: hidden;
    position: relative;
  }


//
// 
//

.node-section-field-display-img {
  position: relative;
}


//
// Nodes
//

$zen-column-count: 24; // Set the total number of columns in the grid.
$zen-gutter-width: 0; 


.node-inner-one {
  width: 100%;
}

//
// Full Display
//
  
.node-full {
  clear: both;
  margin: 0 auto;
  height: 100%; 
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
  width: 100%;
  @include box-sizing(border-box); 
  
  .node-breadcrumb {
    @include zen-grid-item-base();
    @include zen-grid-item(24,1); 
    @include zen-clear(both);   
    position: fixed;
    top: 60px;   

    @media (min-width: 960px) and (max-width: 1280px) {
      //font-size: 36px;
      top: 100px;
    }    
  }
  
  .node-field-display-img {
    padding: 0;
    @include box-sizing(border-box);
  }
  
  .node-section-field-headline {    
    overflow: hidden;
    position: relative;
    
    .field-name-field-headline {
      font-size: 44px;
      line-height: 1;
      padding: 30px 30px 15px;
      position: relative;  
  
      @media (max-width: 1280px) {
        font-size: 36px;
      }
    }    
  }

  > .node-section-field-display-img {
    position: relative;
  }
  
  > .node-section-content {
    position: relative;
    overflow: hidden;    
  }  
  

 
  .node-content {
    
    float: none;
    position: relative;
    overflow: hidden; 
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    @include box-sizing(border-box);

    @media (min-width: 1400px) {
      width: 50%;
     }      
   
     form {
      position: relative;
     }
 
  .field-name-field-drophead p:first-child {
    margin-top: 0;
  }

    > .node-back {
      margin-left: 55%;
      width: 45%;
    }

  
   .node-section-content {  
   background: rgba(0,0,0,0.9);
    position: relative;
  }

  .node-section-field-image {
   //background: rgba(0,0,0,0.6);
    position: relative;
    width: 45%;
    position: relative;
    float: right;
  }
  
  .node-section-children {
    background: rgba(17,34,51,0.75);
    @include zen-nested-container();
    @include zen-clear(both); 
    padding: 0;
    position: relative;
    left: 5px;
    
    .row {
      float: left;
      margin: 30px 0;  
      width: 33%;   
      @include box-sizing(border-box);
      
      &.even {
        padding: 0 10px;        
      }
      
      &.odd {
        padding: 0 10px;
      }
      
      @media (max-width: 1280px) {
        //float: none;
        //width: auto;
        //padding-left: 0 !important;
        //padding-right: 0 !important;
      }
    }     
  }

  > .node-section-views {
    
    @include zen-clear(both);   
    
    .views-row {
      float: left;
      margin-top: 10px; 
      width: 100%;   
      @include box-sizing(border-box);
      padding: 10px; 
      
      @media (max-width: 1280px) {
        float: none;
        width: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    }
  }  
  
  .node-section-field-node-links {
   
    
    .row {
      float: left;
      margin-top: 10px; 
      text-align: center;
      width: 33%;      
      
      &.even {
        margin: 20px 0;
      }
      
      &.odd {
        padding-right: 20px;
        padding-left: 20px;
      }
      
      @media (max-width: 1280px) {
        //float: none;
        //width: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }      
    }     
  }    

  
//
// Node Left Align
//

  &.node-align-left {
  
    > .node-content { 
      clear: left;
      float: left;   
    } 
    
    .field-name-field-headline { 
      left: 0;   
    }   
       
	

	}
	

//
// Node Right Align
//

  &.node-align-right {
	
	  > .node-content {
	    clear: right;
	    float: right;
	  }
	  
    .field-name-field-headline { 
      left: 50%;   
    }   
    
 
  }  
}

//
// Node Teaser
//

.pubDate {
  font-size: 14px;
  padding: 0 10px 10px;
}

.node-teaser {
   background: #e2e2e2;
    background: rgba(255,255,255,0.8);
  color: #282833;
  position: relative; 
  margin: 1em 0 0;
  @include box-sizing(border-box);  
  
  .node-back {
    //background: #e2e2e2;
    //background: rgba(255,255,255,0.8);
  }
  
  .node-teaser-img {
    //background: rgba(0,0,0,0.75);
    float: left;
    width: 20%;
    top: 0;
    left: 0;
    //padding: 10px; 
    @include box-sizing(border-box);  
  }

  .node-content {
    clear: initial;
    width: 80%;
    float: right;
    margin: 0;
    position: relative;
  }
  
  .node-field-title {
    padding: 20px 10px 0;
    
   &:before {
    display: block;
    position: absolute;
    top: 0;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid #f00;
    }    
  }  
 
  .field-name-teaser-img {
    position: relative;
    width: 100%;
    border: 3px solid #fff;
    @include box-sizing(border-box);  
  }    

  .field-name-body {
    padding: 0 10px;
    position: relative;
  }      

  
  .node-section-field-headline {
    //margin-left: 20%;
  }
  
  .node-section-content {
    //margin-left: 20%;
  }  
  
  .node-title {
    font-size: 1.5em;
  }
  
  p {
    margin: 0 0 1.5em;
  }


  
  img {
    display: block;
    margin: 0;
    width: 100%;  
  }

  

}

//
// Node Scrape
//

.node-scrape {
  background: #101010;
  background: rgba(0,0,0,0.9);
  overflow: hidden;
  position: relative;  
  @include box-sizing(border-box);
  
  .node-teaser-img {   
    padding: 15px 15px 0; 
    @include box-sizing(border-box);  
  }
  
  .node-field-title {
    position: relative;
    padding: 0 15px 15px;
  }
  
  .node-title {
    padding-top: 15px;
    text-align: center;
  
    a{
      &:before {
        content: "d";
        display: block;
        font-family: "fontello";
        //position: absolute;
        left: 0;
        background: #336699;
        color: #fff;
        margin-bottom: 8px;
        top: 0;
        width: 100%;
        height: 1em; 
       
      }
    }
  }
  
  .field-name-body { 
    padding: 0 15px 1px;
  }
  
  .node-content {
    width: 100%;
    padding: 0;
    margin: 0;
  }  
 
  .field-name-teaser-img {
    box-sizing: border-box;
    //border: 3px solid #fff;   
    position: relative;
  
    img {
     
      //float: left;
      width: 300px;
  
      display: block;
      float: none;
      margin: 0;
      width: 100%; 
    
      @media (max-width: 960px) {
 
      }
    }
  } 
  
  .field-name-field-headline {
  
    @media (max-width: 960px) {
      text-align: center;
    }       
  }
}




//
// Icons
// 


.node-teaser .icon {
	font-size: 2em;
	text-align: center;	
}

.node-scrape { 
  
  .icon {
    font-size: 40px;
    margin-top: -20px;
  }
}


//
// Node - Article
//


.node-teaser.node-article {
 
  clear: both;
  float: none;
}



//
//
// Scenarios
//
//

.node-full.has-field-scene {

  > .node-headline {
    //position: absolute;
    height: 50%;
    top: 0;  
    
    .field {
      bottom: 0;
      position: absolute;
      
    }
  }
  
  > .node-content {
   // position: absolute; 
    //top: 50%;    
    
    .field-name-field-headline {
      position: absolute;
      bottom: 0;
    }
  }
}

.node-full.has-field-display-img {
  //padding-top: 110px;
}

//
// Node with field Image
//

.node.has-field-image {
  .node-section-field-headline {
    
  }
  .node-section-content {
   // padding-right: 50%;
  }
  .node-section-field-image {
    //
  }
}


//
// Siblings Menu
//

.menu-custom-siblings-menu { 
	background: #101010;
	//padding-left: 25px;
  //float: left;
  position: relative;
  
	a {
	  background: none #6699CC;
		display: inline-block;
		height: 1em;
		width: 1em;
		border: 1px solid #6699cc;	
		margin: 0 5px 0 0;
		
	}
	
	a:hover {
		background: none #336699;
		border-color: #336699;
	}
	
	span {
		display: none;
	}
	
	a:hover span {	
		display: block;
		left: 0;
		position: absolute;
		top: 1.5em;
		white-space: nowrap;
		width: 100%;		
	}		
	
	.prev {
		background: none transparent;
		border: 0 none;
		left: 0;
		position: absolute;
	}	
	
	.next {
		background: none transparent;
		border: 0 none;
		position: absolute;	
		right: 0;
	}
	
	.active,
	.active:hover {
		background: #DDDDDD;
		border-color: #DDDDDD;
	}	
	
	.active:hover span {
	  display: none;
	}
}


//
// Prev/Next links
//


.prev-link {
  color: $white;
  font-size: 100px;
  left: 10px;
  position: fixed;
  top: 50%;
  z-index: 2000;
}

.next-link {
  color: $white;
  font-size: 100px;
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 2000;
}





//
// Node Layout Colors
//

.node {
  //color: #404040;
}

.node.node-light-on-dark {

  color: $white;
  .node-back {
    background: #f2f2f2;
    background: rgba(0,0,0,0.85);
  }
}


//
// panelContainer content
//

#panelContainer .content-static,
#panelContainer .content-dynamic {
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  //@include zen-grid-container();
}

#panelContainer .content-static {

  &.active { 
    left: 0;
    opacity: 1;
  }
}


#panelContainer .content-dynamic {
  
  &.active { 
    left: 0;
    opacity: 1;
  }
}

.node-article.node-full {

  .node-back {
    display: none;
  }  


}

