* {
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: none repeat scroll 0 0 #111;
    color: #F9f9f9;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
img {
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: #99ccff;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
}
#top a:link, #top a:visited, #bottom a:link, #bottom a:visited{
text-shadow: 3px 3px #1d1e20;
}
#panelMenu li a.on {
color:#f9f9f9;
}
.panelControl a:link,.panelControl a:visited {
color: #4488bb;
}
a:hover,.panelControl a:hover{
color: #ee6600;    
}
a img {
    border: medium none;
}
p {
    margin: 1.1em 0;
}
ul, li {
    list-style-type: square;
    margin-left: 1em;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
/* === Loading Throbbers ==================== */
.loading{
background: url("img/loading.gif") no-repeat center 47%;   
}
#status.loading{
background: url("img/loading.gif") no-repeat left 50%;   
}
#adminScreen .ajax-progress .throbber{
background: url("img/loading.gif") no-repeat center 47%; 
height:25px;
width:100%;  
}
h1,h2,h3,#panelMenu,.breadcrumb,#animateControl,#status  {
font-family: "Play","TitilliumMaps",helvetica,sans-serif;
}  
.panelControl {
font-family:"Orbitron","Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}  
h1 {
    font-size: 2.2em;
    line-height: 1em;
}
#top,#bottom,label,.form-submit{
font-size: 0.7em;   
}
#readOut{
    font-size:0.5em;
}
#siteName {
    display: block;
    left:-10000px;
    position:absolute; 
}
#sloganText {
    left:-10000px;
    position:absolute;
}
#outer {
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
    min-width: 1000px;
    overflow:hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
#matte {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;   
}
#matte img {
    height: 100%;
    width: 100%;
}
.trans {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    filter:alpha(opacity=40); -moz-opacity:0.40; -khtml-opacity:0.40; opacity:0.40;
    position: absolute;
    top: 0;
    width: 100%;
}
.active .trans{
    background: none repeat scroll 0 0 #000;
    opacity: 0.6;    
}
.op {
    height: 100%;
    opacity: 1;
    overflow: hidden;
    width: 100%;
}
#logoPanel {
    bottom: 7px;
    height: 38px;
    position: absolute;
    text-align: left;
    width: 350px;
}
#logo {
    float: left;
    height: 100%;
    margin: 0 0 0 20px;;
}
#logoOverlay {
    background: url("img/kcl-logo-overlay.png") no-repeat scroll 0 0;
    bottom: 3px;
    display:none;
    height: 46px;
    left:16px;
    position: absolute;
    width: 65px;
}
#status {
    position:absolute;
    bottom:7px;
    height:2em;
    left:350px;
    text-align:left;
    text-transform:uppercase;
    width:33%;
}
#panelMenu {
    display: none;
    left: 50%;
    margin:0;
    position: absolute;
    text-align: right;
    width: 50%;
}
#panelMenu li{
    display:block;
    float:right;    
}
#panelMenu a {
    display: block;
    padding: 26px 35px 10px;
    text-transform: uppercase;
}
#sb-wrapper{
    padding:66px 0;   
}
#top {
    background: #2c2f32 url("img/top.png") repeat-x scroll 0 100%;
    color: #fff;
    height: 50%;
    position:absolute;
    top:0;
    width: 100%;
    z-index:1001;
}
#header {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
#headerShadow {
    height: 16px;
    position: absolute;
    top: 6%;
    width: 100%;
    z-index:1000;
}
#headerShadow .effectsDiv {    
    background: url("img/header-shadow.png") repeat-x scroll 0 top;
    height:100%;
    position:relative;
    width:100%;
}
#footerShadow {
    bottom:6%;
    height: 16px;
    position: absolute;
    width: 100%;
    z-index:1001;
}
#footerShadow .effectsDiv {
    background: url("img/footer-shadow.png") repeat-x scroll 0 bottom;
    height:100%;
    position:relative;
    width:100%;
}
#bottom {
    background: #2c2f32 url("img/bottom.png") repeat-x scroll 0 0;
    bottom: 0px;
    color: #fff;
    height: 50%;
    position: absolute;
    width: 100%;
    z-index:1001;
}
#footer {
    padding:5px 0 0 0;
    width: 100%;
}
#sceneAssets {
    display:none;    
}
.col {
    float: left;
    width: 33%;
}
#background {
    background-position: 0 0;
    height:100%;
    position:absolute;
    top:0;
    width:100%;
}
#midground {
    background-position: 0 0;
    height:100%;
    position:absolute;
    top:0;
    width:100%;
}
#foreground {
    background-position: 0 0;
    height:100%;
    position:absolute;
    top:0;
    width:100%;
}
#screen {
    background: #000 url("img/static3.gif") repeat scroll center 47%;
    bottom: 0;
    height:100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
}
/* === Tabs ==================== */
.tabContainer {
    display:none;
    height:100%;
    overflow:hidden;
    position:absolute;
    text-align:left;
    width:100%;
}
.tabContainer .tab {
    height:100%;
    position:relative;
    width:100%;
}
.tabContainer .trans{
    background-color:#336699;    
    display:block;
    opacity:1;
}
.tabContent {
    margin: 100px 10%;
    padding: 100px 10%;
    position: absolute;
    width: 60%;
}    
.tabContent .left,.tabContent .right{
    overflow:hidden;
    width:45%;
}
.block-webform .webform-client-form{
    width:100%;    
}
#animateControl {display:none;float:left;text-align:left;padding: 0 0 0 20px;width:200px;}
/* === Panels ==================== */
#panelContainer {
    height:88%;
    margin: 6% auto;
    padding: 0;
    position:absolute;
    text-align: left;
    width:100%;
}
.panel {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*width:14%;*/
 }
.panel.active {
 
}
div.panelControl {
    display: block;
    position: absolute;
    top: 47%;
    width: 100%;
}
div.active div.panelControl {
    display: none;
}
.panelControl a:link,.panelControl a:visited {
    background: #FFFFFF;
    display: block;
    font-size:1.1em;
    margin:0 2px 0 3px;
    padding: 0 0 0 5px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb {
    font-size: 0.7em;
    padding: 0 0 10px 0;
}
select {
    border: 1px solid #CCCCCC;
    width: 100%;
}
input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    float: none;
    font-size: 1em;
    padding: 2px;
}
.form-submit{
    background:transparent;
    border:1px solid #99ccff;
    color:#99ccff;
    text-transform:uppercase;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* === Image Styles ==================== */
.imageContainer {
 float:right;
 width:50%;
 margin: 10px 0 10px 10px;   
}
.imageContainer .medImg{
 display:block;
 width:100%;   
}
.imageContainer .thumbImg{
 float:left;
 margin:10px 10px 0 0;
 width:20%;   
}
.panel .customScrollBox {
border-left: 1px solid #fff;
height: 100%;
overflow: hidden;
position: relative;
width:100%;
}
.contentInner{
padding:71px 0;
overflow:hidden;
width:100%;
}
.contentDefault{
overflow:hidden;
padding:71px 0;
width:100%;
}
.panel:first-child .customScrollBox {
border: 0 none;
}
.panel .customScrollBox .container {
float:left;
padding:10% 0 0 6%;
position: relative;
width:86%; 
}
.panel .customScrollBox .content {
 clear:both;  
 color:#fff;
 width:100%;
}
.node-full {
clear:both;
padding:0;    
}
.node-teaser {
clear:both;    
padding:25px 0 0; 
}
.node-teaser p{
margin:0 0 25px;    
}
.node-teaser img {
border:1px solid #fff;
float:left;
margin:0 10px 10px;
width:20%;  
}
#audioPanel {
    display: none;
    float: left;
    padding: 0 20px;
}
#copyText {
    display: none;
    left:50%;
    position:absolute;
    text-align: right;
    text-transform:uppercase;
    top:5px;
    width:50%;
}
#copyText span {
    padding: 0 20px 0 0;
}
#readOut {
    padding:60px 0;
    position:absolute;
    text-align: left;
    width: 14%;
}
#readOut div{
    padding:0 10px; 
}
#readOut p {
    margin:0;
}

.dragger_container{background:#fff;position:relative; width:4%; height:200px; float:left; margin:150px 1% 0 2%; border:0px solid #fff; cursor:pointer}
.dragger{position:absolute; width:100%; height:5px; background:#99ccff; text-align:center; line-height:5px; color:#fff; overflow:hidden; margin:0; cursor:pointer;}
.dragger_pressed{position:absolute; background:#ee6600; text-align:center; color:#99ccff; overflow:hidden; cursor:s-resize;}
.scrollUpBtn,.scrollDownBtn{position:absolute; display:inline-block; width:14px; height:15px; margin-right:12px; text-decoration:none; right:0; filter:alpha(opacity=20); -moz-opacity:0.20; -khtml-opacity:0.20; opacity:0.20;}
.scrollUpBtn{top:16px; background:url(mcs_btnUp.png) center center no-repeat;}
.scrollDownBtn{bottom:12px; background:url(mcs_btnDown.png) center center no-repeat;}
.scrollUpBtn:hover,.scrollDownBtn:hover{filter:alpha(opacity=60); -moz-opacity:0.60; -khtml-opacity:0.60; opacity:0.60;}

ul.graphic {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul.graphic {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.graphic li {
    margin-bottom: 2px;
}
ul.graphic li a, ul.graphic li a.sm2_link {
    display: inline-block;
    font-weight: normal;
    padding: 3px 3px 3px 25px;
    text-decoration: none;
    vertical-align: middle;
}

ul.graphic li a, ul.graphic li a.sm2_paused:hover, ul.graphic li a.sm2_link:hover {
    background-image: url("img/icon-play.png");
    background-position: 3px 50%;
    background-repeat: no-repeat;
}
ul.graphic li a.sm2_link:hover {

}
ul.graphic li a.sm2_paused {

}
ul.graphic li a.sm2_paused:hover {
    background: url("img/icon-play.png") no-repeat scroll 3px 50% transparent;
}
ul.graphic li a.sm2_playing, ul.graphic li a.sm2_playing:hover {
    background: url("img/icon-pause.png") no-repeat scroll 3px 50% transparent;
    text-decoration: none;
}
body #sm2-container object, body #sm2-container embed {
    left: -9999em;
    top: -9999em;
}

.inactive .customScrollBox .container .content{display:none;}
.contentInner.inactive,.contentDefault.inactive{display:none;}

ul.slidemenu {font-size:0.85em;font-weight:bold;list-style:none; width:100%; height:500px;display:block; margin:0;overflow:hidden; padding:0;position:relative;}
.slidemenu li {float:left; display:inline; height:100%; margin:0;position:relative;overflow:hidden}
.slidemenu li a.imagecache-icon {border:0;float:none;}
.slidemenu li img.imagecache-icon {border:0;float:none;}
.slideImg {width:75px;position:absolute;left:0;}
.slideText {width:110px;padding: 5px 10px 5px 5px; position:absolute;left:75px;}
.slideShadow {background:url(img/slide-shadow-right.png) repeat-y scroll 0 0; height:100%;width:7px; position:absolute; right:0;margin: 0;}
