/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "components/base";
@import "compass/css3/box-sizing";
@import "components/menu";
@import "components/node";
@import "components/animation";
@import "zen";
@import "zen/background";

$zen-column-count: 24; // Set the total number of columns in the grid.
$zen-gutter-width: 0; 

* {
 margin: 0;
 outline: 0 none;
 padding: 0;
}

html,body {
 height: 100%;
 width: 100%;
}

body {
background: none repeat scroll 0 0 $blue-dark;
color: $white;
font-family: "Play","TitilliumMaps",helvetica,arial,sans-serif;
font-size: 18px;
line-height: normal;
margin: 0 auto;
padding: 0;
text-align: left;
vertical-align: baseline;
}

img {
 margin: 0;
 padding: 0;
}

pre {
 background: #6699cc;
 border: 0px dotted #fff;
 margin: 1em 0;
 padding: 2em 0.5em;	
}


//
// colors
//


a.on,
a.on:hover {
  color:#525456 !important;
  text-shadow:none !important;
}

.tab a:link,.tab a:visited{
  color: #99ccff;
}

.tab a:hover{
  color: #336699;
}

.tab .form-submit{
  color:#99ccff;
  border-color:#99ccff;	
}

a img {
  border: medium none;
}

p {
  margin: 0 0 30px 0;
}

ul{
  margin-left: 0;
  padding:0;
  margin:0;
}

li{
list-style-type: square;
margin:0 0 0 1em;
padding:0 0 1em;
}

.right {
float: right;
}

.left {
float: left;
}

.clear {
clear: both;
}

.ghost{
display: none !important;	
}

.breadcrumb-0 { 
  margin-right: 2px;  
  font-size: 14px;
  font-family: "fontello";
  text-transform: none;  
}


//
// Loading Throbbers
// 

.ajax-progress .throbber {
//background: url("img/loading.gif") no-repeat center 47%; 
height: 25px;
width: 100%;  
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

h2{
  font-size:1em	
}

h3{
  font-size:1.25em	
}

#readOut{
  font-size: 0.5em;
}

h1,
h2,
h3,
.field-name-field-headline {
  font-weight: 700;	
}

.front #siteName {
  display:block;
  height:3%;
  overflow:hidden;
  position:absolute; 
}

.front #pageContent {
  display: block;
  height: 3%;
  overflow: hidden;
  position: absolute;
  top: 3%; 
}

#outer {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  min-width: 800px;
  padding: 0;
  position: relative;
  width: 100%;
}

#scene-container {
height: 100%;
overflow: hidden;
position: fixed;
width: 100%;
max-height: 2500px;
max-width: 2500px;
margin: 0 auto;
}

#scene{
height: 100%;
margin: 0 auto;
min-height: 100%;
min-width: 800px;
overflow: hidden;
padding: 0;
position: relative;
width: 100%;	
}

div.scene-layer{
position: absolute;
top: 0px;
bottom: 0px;
height: 100%;
width: 100%;
overflow: hidden;   	
}

img.scene-layer {
	position: absolute;
}

#matte {
position: absolute;
top: 0px;
bottom: 0px;
height: 100%;
width: 100%;
overflow: hidden;   
}

#matte img {
height: 100%;
width: 100%;
}

.trans {
background: none #d8e5f2;
bottom: 0;
height: 100%;
filter:alpha(opacity=15); -moz-opacity:0.15; -khtml-opacity:0.15; opacity:0.15;
position: absolute;
top: 0;
width: 100%;
//transition: opacity 0.3s;
}

.hover .trans{
filter:alpha(opacity=35); -moz-opacity:0.35; -khtml-opacity:0.35; opacity:0.35;
}

.active .trans{
background: none #000;
filter:alpha(opacity=85); -moz-opacity:0.85; -khtml-opacity:0.85; opacity:0.85;
}

.tab .trans{
background: none repeat scroll 0 0 #d8e5f2;
filter:alpha(opacity=85); -moz-opacity:0.85; -khtml-opacity:0.85; opacity:0.85;
}





#site-logo {
	display: block;
	left: 40px;
	padding: 7px;
	position: absolute;
	width: 302px;
	z-index: 5000;
	
	@media (max-width: 1280px) {
    left: initial;
    margin: 0 auto;
    position: relative;
    top: 0;

  }
}

#site-logo img {
	height: 46px;
	width: 302px;
}

#status {
 position:absolute;
 bottom:7px;
 height:2em;
 left:33%;
 text-align:center;
 width:33%;
}

#tab-menu {
  height: 60px;
  right: 20px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 200px;
  z-index: 1001;
}

#tab-menu li{
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tab-menu a {
  color: #fff;
  height: 100%;
  display: block;
  padding: 0;
  text-align: right;

  &:hover {
    color: #336699;
  }
  
  span {height: 60px;}
  
  span.icon {
    display: inline-block;
    font-size: 40px; 
  }
  
  span.text {
    display: inline-block;
    font-size: 14px;  
  }
  
  span.action-hide {
    display: none; 
  }
  
  span.action-show {
    display: inline-block;
  }  
}

#tab-menu a.on {

  span.action-hide {
    display: inline-block;
  } 
  
  span.action-show {
    display: none;
  } 
}


//
// Top
//


#top {
	background: #c0d9f3;
	background: none repeat scroll 0 0 rgba(60, 120, 180, 0.9);
	background: #336699;
	height: 60px;
	opacity: 1;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  @include box-shadow(#222 0 1px 2px);
  
  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
  }  
}

#bottom {
  @include box-shadow(#222 -1px 0 2px);
 	background: #2C2F32;
	background: #6699cc;
	background: #333;
	background: none repeat scroll 0 0 rgba(60, 120, 180, 0.9);
	background: #336699;
	font-size: 14px;
	margin: 0;
	position: fixed;
	opacity: 1;
	bottom: 0;
	width: 100%;
	z-index: 999;
	
  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.1);
  }  	
}

#bottom-inner-one {
  display: block;
  height: 30px;
  padding-top: 4px;
  position: relative; 
  text-align: center; 
  @include box-sizing(border-box);
}

#bottom-inner-two {
  display: none;
  height: 0;
  position: relative;
  text-align: center;
  visibility: hidden;
}

#sceneAssets {
  height: 0;
  overflow: hidden;
}

#screen {
  display: none; 
  background: $blue-dark;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; 
}



#sb-container{
  margin: 4px 0;
  top: 6%;
}


//
// Tabs 
//


.tab.show{
  display: block;
  left: 0;	
}

.tab {
  background: #112233;	
  display: none;
  height: 100%;
  left: -100%;
  padding-top: 120px;
  position: absolute;
  width: 100%;
  z-index: 999;
  @include box-sizing(border-box);
}

.tabContent {
  padding-left: 20%;
  padding-right: 20%;
  position: absolute;
}

.tabContent .left,.tabContent .right{
  overflow: hidden;
  width: 45%;
}

.tabContent .block{
}

.block-webform .webform-client-form{
  width: 100%;
}

.tab-close {
  position: absolute;
  top: 10%;
  right: 20%;
  text-transform: uppercase;
}


//
// Panels
//


#panelContainer {
  min-height: 100%;
  margin: 0;
  padding: 60px 0 0;
  position: relative;
  text-align: left;
  width: 100%;
  @include box-sizing(border-box);
  
  @media (max-width: 1280px) {
	  padding: 100px 0 0;	
	} 

  @media (max-width: 960px) {
	  padding: 60px 0 0;	
	} 	

  .loading-icon { 
      //display: none;
      font-family: fontello;
      font-size: 6em;
      position: absolute;
      top: 50%;
      left: -200px;
      opacity: 0;
      margin-top: -3em;
      margin-left: -3em;
  
  }	
  
	&.loading {
	    
     .loading-icon { 
      display: block;
      font-family: fontello;
      font-size: 6em;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 900px;
      visibility: visible;
      margin-top: -0.5em;
      margin-left: -0.5em;
      @include transition(opacity 1s);
  -webkit-animation: rotate 1s infinite linear; /* Safari 4+ */
  -moz-animation:    rotate 1s infinite linear; /* Fx 5+ */
  -o-animation:      rotate 1s infinite linear; /* Opera 12+ */
  animation:         rotate 1s infinite linear; /* IE 10+, Fx 29+ */
    }
  }	
}


#panelContainer .panel {
  @include box-sizing(border-box);
  left: -100%;
  height: 100%;
  margin: 0;
  position: absolute;
  
  
  > .container {
    height: 100%;
   width: 100%;
   margin: 0 auto; 
  
  }
}

#panelContainer .panel.active { 
  left: 0;
	width: 100%;
}

.panelControl {
  color: #fff;
  display: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;  
}



//
// Breadcrumb
//


.breadcrumb {
  //background: #333;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  //margin: 0 30px 0.5em; 
  padding: 14px 0 2px;
  text-transform: uppercase;
  @include box-sizing(content-box);
  @include zen-clear();
  
  a, a:visited{
    color: #6699cc;
    font-weight: 400;	
  }
}

.breadcrumb .sep {
  float: none;
  font-family: "fontello";
}

.breadcrumb span {
	display: inline-block;
	padding-right: 0.25em;
}

.breadcrumb h1 {
	display: inline-block;
}

//
// Forms
//

input.form-text {

  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #888;
  display: block;
  float: none;
  font-size: 1em;
  padding: 2px;
  width: 98%;
}

.form-textarea-wrapper textarea.form-textarea{
-moz-box-sizing: content-box;
box-sizing:content-box;
border: 1px solid #888;

width: 98%;	
}

.resizable-textarea .grippie {
 display: none;
 }
 
.form-submit{
background:transparent;
border:1px solid #99ccff;
color:#99ccff;
padding:0.25em;
text-transform:uppercase;
width:auto;
}

.label{
padding:0 0.5em 0 0;
}

.clearfix:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}

.clearfix {
display: inline-block;
}

* html .clearfix {
height: 1%;
}

* + html .clearfix {
height: 1%;
}

.clearfix {
display: block;
}


//
// Image Styles
//


.displayImg{
  margin: 0;
  width: 100%;
}

.imageContainer{
  float: right;
  width: 50%;
  //padding: 0 10px 10px;
  @include box-sizing(border-box);

  @media (max-width: 1280px) {
    float: none;
    width: 100%;
    margin-top: 1em;
  }
  
  img {
    display: block;
    position: relative;
    @include box-sizing(border-box);
    border: 5px solid #fff;
  }
}

.imageContainer .medImg{
  width: 100%;   
}

.imageContainer .thumbImg{
  float: left;
  margin: 5% 0 0 5%;
  width: 20%;   
}













//
// Audio
//


#audioControl{}
#animateControl{}
#copyText{}


//
// Readout
//

#readOut {
  @include box-sizing(border-box);
  @include zen-grid-item-base();
  @include zen-grid-item(4,21);
  font-size: 14px;
  height: 70px;
  position: absolute;
  text-align: right;
  top: 80px;

  .inner {
    position: absolute;
    bottom: 0;
   }

  div {
	  color: #FFF;
	  padding: 0 30px 0 0; 
	}

	p {
    margin:0;
  }
}

.feedContainer .item-list{
  margin: 1.1em 0;	
}

.feedContainer .more-link{
  display:none;	
}

ul.graphic {
list-style-type: none;
margin-left: 0;
padding-left: 0;
}

ul.graphic {
list-style-type: none;
margin: 0;
padding: 0;
}

ul.graphic li {
margin-bottom: 2px;
}

ul.graphic li a, ul.graphic li a.sm2_link {
display: inline-block;
font-weight: normal;
padding: 3px 3px 3px 25px;
text-decoration: none;
vertical-align: middle;

  &:before {
    content: "r";
    font-family: "fontello";
  }
}

ul.graphic li a, ul.graphic li a.sm2_paused:hover, ul.graphic li a.sm2_link:hover {
background-image: url("img/icon-play.png");
background-position: 3px 50%;
background-repeat: no-repeat;
}

ul.graphic li a.sm2_link:hover {

}

ul.graphic li a.sm2_paused {

}

ul.graphic li a.sm2_paused:hover {
background: url("img/icon-play.png") no-repeat scroll 3px 50% transparent;
}

ul.graphic li a.sm2_playing, ul.graphic li a.sm2_playing:hover {
background: url("img/icon-pause.png") no-repeat scroll 3px 50% transparent;
text-decoration: none;
}
body #sm2-container object, body #sm2-container embed {
left: -9999em;
top: -9999em;
}

#ajax_trigger {

  &.progress-disabled {
 
 
  }
}

#alert-screen{
  background: $blue-dark;
  position: absolute;
  left: -100%;  
  height: 100%; 
  text-align: center;
  top: 0;
  width: 100%;
  @include box-sizing(border-box);
}

#alert-screen .inner{
 padding-top: 140px;
 position: relative;
}

form#user-login{
  padding:2em;
}

/* === Pager Display ==================== */

ul.pager {
margin: 0 auto;
text-transform: uppercase;
}

.item-list ul.pager li{
display:block;
float:left;
margin:0.25em 0.25em 0.25em 0;
padding:0;
}

ul.pager li a:link,ul.pager li a:visited{
	background: none #6699CC;
	border:1px solid #6699cc;
	color: #FFF;
	display:block;
	padding:0.5em 1em;
}

ul.pager li a:hover{
border:1px solid #ee6600;
}

ul.pager li.pager-current{
background: none transparent;
border: 1px solid #BBB;
color: #BBB;
padding:0.5em 1em;
}



.icon {
	font-family: "fontello";
}

.curr {
	display: block;
	
}











