
.icon-menu:before { content: '\6d'; } /* 'm' */
.icon-down-dir:before { content: '\64'; } /* 'd' */
.icon-up-dir:before { content: '\75'; } /* 'u' */
.icon-left-dir:before { content: '\6c'; } /* 'l' */
.icon-right-dir:before { content: '\72'; } /* 'r' */